<section class="goals_rich">
    <div class="wrapper">
        <div class="goals_rich_box">
            <div class="slider_goals_wrap">

                <div class=" goals_rich_info filter_mobile">
                    <video data-source="{{circularity.goals_rich.video}}" class="video" poster="{{circularity.goals_rich.bg}}" muted autoplay playsinline>

                    </video>
                </div>
            </div>


            <p class="goals_rich_talk">{{circularity.goals_rich.text}}</p>
        </div>
        <div class="goals_rich_title">
            <p>{{circularity.goals_rich.title}}</p>
        </div>
    </div>

</section>
