<section class="slider_rich" >
    <div class="slider_rich_contaier wrapper">
        <div class="container slider_rich_title_text">
            <p class="slider_rich_title">{{circularity.slider_rich.title}}</p>
            <p class="slider_rich_year">{{circularity.slider_rich.year}}</p>
        </div>

        <div class="slider">
            <div class="slider-list">
                <div class="slider_img slider_rich_box slider-track">
                    {% for item in circularity.slider_rich.slide %}
                    <div>
                        <div class="slider_rich_item slide">
                            <div class="slider_rich_item_wrap" data-id="{{item.data_id}}">

                                {% if item.text_link %}
                                <div class="slider_rich_item_img">
                                    <img src="{{item.img}}" alt="slide">
                                    <p>{{item.hover_text}}</p>
                                </div>
                                {% else %}
                                <div class="slider_rich_item_img no-cursor">
                                    <img src="{{item.img}}" alt="slide">
                                    <p>{{item.hover_text}}</p>
                                </div>
                                {% endif %}

                            </div>
                            <div class="slider_rich_item_desc">
                                <p>{{item.title_slide}}</p>
                                <p>{{item.text}} </p>
                            </div>
                            <p data-id="{{item.data_id}}" class="slide_link_text">{{item.text_link}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--- slider info --->
    {% for info in circularity.slider_rich.slider_info %}
    <div id="{{info.id}}"  class="slider_item_info_box">

        <div class="slider_item_info_cont">
            <div class="slider_info_static_text">
                <p class="static_text_l">{{ info.sub_title}}</p>
            </div>
            <div class="slider_item_info_close">
                <p>close <span>{{ circularity.slider_rich.close | svgContents }}</span></p>
            </div>
        </div>


        <div class="slider_info_wrap">

                <div id="slide_one" class="box_for_slide">
                    <div class="slider_item_info_static">
                        <div class="slider_inf_static_desc">
                            <h2 class="static_desc_title">{{info.slide_title}}</h2>
                            <div class="static_desc_text">
                                <p>{{info.slide_text_t}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="slide_two" class="box_for_slide">
                    <div class="slider_item_info_slide">
                        <div class="slider_item_info_img">
                            <img class="slide_img" src="{{info.slide_img_one}}" alt="img">
                        </div>
                    </div>
                </div>

                <div id="slide_three" class="box_for_slide">
                    <div class="slider_item_info_slide">
                        <div class="slider_item_info_img">
                            <img class="slide_img" src="{{info.slide_img_two}}" alt="img">
                        </div>

                    </div>
                </div>

        </div>
    </div>
    {% endfor %}


</section>
