.main_home {
  position: relative;
  background: url("../image/homepage_last/bg_home.webp") center/cover no-repeat;
  width: 100vw;
  height: 100vh;

}
.main_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 7;

  @include mq(sm) {
    position: relative;
    padding: 115px 0 40px 0;
  }
}

.main_info {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 205px;
  width: 92%;
  margin: 0 auto;

  @include mq(xxl) {
    top: 27%;
  }
  @include mq(lg) {
    top: 18%;
  }

  @include mq(md) {
    top: 8%;
  }

  @include mq(sm) {
    top: 2%;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }



  &__desc {
    font-size: $specSizeMD;
    font-family: $brownBold;
    color: $white;
  }

  &__title {
    text-transform: uppercase;
    font-family: "Nimbus",sans-serif;
    font-size: $fontSizeXl + 50px;
    position: absolute;
    left: -10px;
    top: 32px;
    width: 1225px;
    line-height: 1.15;
    animation: fadeIn;
    animation-duration: 5s;
    color: $white;

    @include mq(xxl) {
      font-size: $fontSizeXl + 25px;
      width: 985px;
      line-height: 1.15;
    }
    @include mq(lg) {
      font-size: $fontSizeXl + 5px;
      width: 735px;
    }
    @include mq(md) {
      font-size: $fontSizeXl - 15px;
      width: 440px;
      left: 0;
    }
    @include mq(sm) {
      position: relative;
      top: 10px;
      font-size: $fontSizeXl - 32px;
    }
    @include mq(xs) {
      font-size: $fontSizeXl - 36px;
      max-width: 330px;
      margin: 30px 0;
      top: 0;
    }
    @include mq(xxs){
      font-size: $fontSizeXl - 42px;
    }

  }
  &__info {
    max-width: 220px;
    position: relative;
    border-bottom: 1px solid $white;
    padding-bottom: 5px;
    font-family: $inco;
    color: $white;


    @include mq(md) {
      width: 195px;
    }
    @include mq(sm) {
      position: absolute;
      right: 0;
      bottom: -35%;
    }
    @include mq(xs) {
      margin: 0;
      margin-left: auto;
      padding-bottom: 20px;
      bottom: -35%;
    }
  }
}
.main_button_box {
  position: absolute;
  bottom: 4%;
  right: 0px;

  @include mq(xxl) {
    bottom: 5%;
  }

  @include mq(md) {
    bottom: 5%;
  }
  @include mq(sm) {
    position: relative;
    margin: 83px auto 0 auto;
  }
}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
