.main_home {
  position: relative;
  background: url("../image/homepage/bg_video.jpg") center/cover no-repeat;
  width: 100vw;
  height: 100vh;

  @include mq(sm) {
    background: url("../image/homepage/mobile/main_bg_mobile.jpg") center/cover no-repeat;
    background-size: 100% 100%;
    height: 100%;
  }
}
.main_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 7;

  @include mq(sm) {
    position: relative;
    padding: 115px 0 40px 0;
  }
}

.main_info {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 205px;
  width: 92%;
  margin: 0 auto;

  @include mq(xxl) {
    top: 27%;
  }
  @include mq(lg) {
    top: 18%;
  }

  @include mq(md) {
    top: 22%;
  }

  @include mq(sm) {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }



  &__desc {
    font-size: $specSizeMD;
    font-family: $brownBold;
  }

  &__title {
    text-transform: uppercase;
    font-family: Nimbus,sans-serif;
    font-size: $fontSizeXl + 50px;
    position: absolute;
    left: -10px;
    top: 32px;
    width: 965px;
    line-height: 1.15;
    animation: fadeIn;
    animation-duration: 5s;


    @include mq(xxl) {
      font-size: $fontSizeXl + 25px;
      width: 735px;
      line-height: 1.15;
    }
    @include mq(lg) {
      font-size: $fontSizeXl + 5px;
      width: 540px;
    }
    @include mq(md) {
      font-size: $fontSizeXl - 15px;
      width: 440px;
      left: 0;
    }
    @include mq(sm) {
      position: relative;
      top: 10px;
    }
    @include mq(xs) {
      font-size: $fontSizeXl - 28px;
      max-width: 330px;
      margin: 30px 0;
      top: 0;
    }
    @include mq(xxs){
      font-size: $fontSizeXl - 35px;
    }

  }
  &__info {
    max-width: 220px;
    position: relative;
    border-bottom: 1px solid $green;
    padding-bottom: 5px;
    font-family: $inco;
    font-weight: bold;

    @include mq(md) {
      width: 195px;
    }
    @include mq(xs) {
      margin: 0;
      margin-left: auto;
      padding-bottom: 20px;
    }
  }
}
.main_button_box {
  position: absolute;
  bottom: 14%;
  right: 0px;

  @include mq(xxl) {
    bottom: 19%;
  }

  @include mq(md) {
    bottom: 5%;
  }
  @include mq(sm) {
    position: relative;
    margin: 83px auto 0 auto;
  }
}

// video
#video-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background-size: cover;

  @include mq(lg) {
    display: none;
  }
}

#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@supports (object-fit: cover) {
  #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}