<section class="impact">
    <div class="impact_container wrapper">
        <div class="impact_text">
            <h2 class="impact_text__title">{{homepage.impact.title}}</h2>
            <p class="impact_text__desc">{{homepage.impact.desc}}</p>
        </div>

        <div class="impact_card">
            {% for item in homepage.impact.card %}
            <div class="impact_card_box">
                <span class="impact_card_img">{{ item.info_img | svgContents }}</span>
                <div class="impact_info">
                    <div class="impact_info_text">
                        <p class="impact_info_title">{{item.info_title}}</p>
                        <p class="impact_info_desc">{{item.info_desc}}</p>
                    </div>
                    <div class="impact_info_text">
                        <p class="impact_info_title">{{item.info_title_two}}</p>
                        <p class="impact_info_desc">{{item.info_desc_two}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="impact_button ">
                <a class="button_lg" href="{{ homepage.impact.btn_href }}">{{ homepage.impact.btn_text }}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="impact_decor">
            <div class="impact_decor_img">
                <img class="impact_decor_mob__hide" src="{{homepage.impact.decor_img}}" alt="img">
                <img class="impact_decor_mob__show" src="{{homepage.impact.decor_img_mob}}" alt="img">
            </div>
            <div class="impact_decor_text">
                <p>{{homepage.impact.decor_text}}</p>
            </div>
        </div>
    </div>

</section>