<section class="basic_detail_text">
    <div class="container wrapper">
        <div class="basic_detail_text_container">
            <div class="basic_detail_text_box basic_detail_text_box_spec">
                <div class="basic_detail_text_wrapper">
                    <p class="basic_detail_text_title">{{basic_cont.basic_text.title}}</p>
                    <p class="basic_detail_text_info">{{basic_cont.basic_text.desc}}</p>
                </div>
            </div>
            <div class="basic_detail_text_box">
                <div class="basic_detail_text_wrapper">
                    <p class="basic_detail_text_title">{{basic_cont.basic_text.title_two}}</p>
                    <p class="basic_detail_text_info">{{basic_cont.basic_text.desc_two}}</p>
                </div>
            </div>
        </div>
    </div>
</section>