<section class="basic_detail_video">
    <div class="active_video">
        <div class="close_video"></div>
        <div class="video_size" id="youtube">
            <iframe src="https://www.youtube.com/embed/{{ basic_cont.basic_video.idVideo }}?enablejsapi=1&" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="wrapper">
        <div class="basic_detail_video_box">
            <span class="basic_detail_video_btn_play button_play">{{ basic_cont.basic_video.btnPlay | svgContents }}</span>
            <img class="basic_detail_video_preview" src="{{basic_cont.basic_video.img}}" alt="img">
        </div>
    </div>
</section>