<section class="basic_testi">
    <div class="container">
        <div class="basic_testi_description">
            <div class="basic_testi_text">
                <img class="quote quote_top" src="{{ basic_cont.basic_testimonial.quoteTop }}" alt="quote">
                <div class="basic_testi_text__description">
                    <p>{{basic_cont.basic_testimonial.desc}}</p>
                </div>
                <div class="basic_testi_text__author">
                    <p>{{basic_cont.basic_testimonial.author}}</p>
                </div>
                <p class="basic_testi_text__prof_title">{{basic_cont.basic_testimonial.prof_title}}</p>
            </div>
            <img class="quote quote_bottom" src="{{ basic_cont.basic_testimonial.quoteBottom }}" alt="quote">
        </div>
    </div>
</section>