<section class="basic_detail">
    <div class="basic_detail_left wrapper">
        <div class="basic_detail_box ">
            <div class="basic_detail_img_box">
                <img class="basic_detail_img" src="{{basic_cont.basic_img_left.img}}" alt="img">
            </div>
            <div class="basic_detail_info_box">
                <p class="basic_detail_info_text">{{basic_cont.basic_img_left.text}}</p>
                <h3 class="basic_detail_info_title">{{basic_cont.basic_img_left.title}}</h3>
                <p class="basic_detail_info_desc">{{basic_cont.basic_img_left.desc}}</p>
                <div class="basic_detail_info_button">
                    <a class="button_lg" href="{{ basic_cont.basic_img_left.btn_href }}">{{ basic_cont.basic_img_left.btn_text }}</a>
                </div>
            </div>
        </div>
    </div>
    
</section>