<section class="basic_detail">
    
    <div class="basic_detail_right">
        <div class="basic_detail_box basic_detail_right_box wrapper">
            <div class="basic_detail_info_box basic_detail_info_box_right">
                <p class="basic_detail_info_text">{{basic_cont.basic_img_right.text}}</p>
                <h3 class="basic_detail_info_title">{{basic_cont.basic_img_right.title}}</h3>
                <p class="basic_detail_info_desc">{{basic_cont.basic_img_right.desc}}</p>
                <div class="basic_detail_info_button">
                    <a class="button_lg" href="{{ basic_cont.basic_img_right.btn_href }}">{{ basic_cont.basic_img_right.btn_text }}</a>
                </div>
            </div>
            <div class="basic_detail_img_box">
                <img class="basic_detail_img basic_detail_img_right" src="{{basic_cont.basic_img_right.img2}}" alt="img">
            </div>
        </div>
    </div>
</section>