<section class="basic_main">
    <div class="container wrapper">
        <div class="basic_main_wrap">
            <div class="basic_main_content_box">
                <h1 class="basic_main_title">{{basic_cont.main_basic.title}}</h1>
                <p class="basic_main_desc">{{basic_cont.main_basic.desc}}</p>
                <div class="basic_main_button_box">
                    <a href="{{basic_cont.main_basic.btn_href}}" class="button_lg">{{basic_cont.main_basic.btn_text}}</a>
                </div>
            </div>
        </div>
    </div>
</section>