<section class="comm_glob wrapper">
        <div class="container">
            <div class="comm_glob_box">
                <h2 class="comm_glob_title">{{global.comm.title}}</h2>
                <p class="comm_glob_text">{{global.comm.text}}</p>
            </div>
            <div class="comm_glob_img_box">
                <video class="video" poster="{{global.comm.img}}" muted autoplay playsinline>
                    <source src="{{global.comm.video}}" type="video/mp4" />
                </video>
            </div>
        </div>
</section>
