<section class="plans">
     <div class="plans_title_box  wrapper">
         <h2 class="plans_title">{{global.plans.title}}</h2>
     </div>


    <div class="plans_map">
        <div class="wrapper">
            <div class="plans_map_img_box">

                    <div class="plans_map_img">
                        <div class="plans_map_img_desc">
                            <img src="{{ global.plans.map_img }}" alt="map">
                        </div>
                    </div>

            </div>
        </div>

    </div>
</section>