<section class="space_rich">
    <div class="wrapper">
        <div class="space_rich_title_box">

            <h2 class="space_rich_title">{{global.space_global.title}}</h2>
        </div>
        <div class="space_rich_box">
            <div class="space_rich_content_box space_rich_content_box__spec">
                <img src="{{global.space_global.img_one}}" alt="img">
                <p>{{global.space_global.one_text}}</p>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{global.space_global.title_desc_one}}</p>
                    <p>{{global.space_global.desc_one}}</p>
                </div>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{global.space_global.title_desc_three}}</p>
                    <p>{{global.space_global.desc_three}}</p>
                </div>
            </div>
            <div class="space_rich_content_box space_upper">
                <img src="{{global.space_global.img_two}}" alt="img">
                <p>{{global.space_global.two_text}}</p>
            </div>
        </div>
    </div>
</section>