<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{  basic_cont.meta.meta_title }}</title>
    <meta name="description" content="{{basic_cont.meta.meta_desc }}">

    <link rel="stylesheet" href="../src/css/basic_cont.css"/>
</head>
<body>

{% include component/header_xw.html %}
<main>
    {% include basic_cont/main_basic.html %}
    {% include basic_cont/basic_article.html %}
    {% include basic_cont/basic_testimonials.html %}
    {% include basic_cont/basic_right_img.html %}
    {% include basic_cont/basic_text.html %}
    {% include basic_cont/basic_left_img.html %}
    {% include basic_cont/basic_video.html %}
    {% include basic_cont/basic_better.html %}


</main>
{% include component/footer.html %}

<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
{% lazyScript %}
{% includeScript "../src/js/main.js" %}
{% includeScript "../src/js/basic_cont.js" %}

<script>
    window.markerConfig = {
        destination: '60085754791a703a93f4e3ca',
    };
</script>
<script>
    !function(e,r,t){
        if(e.__Marker)return;e.__Marker={};
        var n=r.createElement('script');
        n.async=1,n.src='https://edge.marker.io/latest/shim.js';
        var s=r.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(n,s)}(window,document);
</script>


</body>
</html>