<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{  homepage_alt.meta.meta_title }}</title>
    <meta name="description" content="{{homepage_alt.meta.meta_desc }}">

    <link rel="stylesheet" href="../src/css/homepage.css"/>

</head>
<body>

{% include component/header.html %}
<main>
    {% include homepage/main.html %}
    {% include homepage/presentation.html %}
    {% include homepage/mission.html %}
    {% include homepage/impact.html %}
    {% include homepage/financial.html %}
    {% include homepage/business.html %}
</main>
{% include component/footer.html %}

<script rel="dns-prefetch" src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
{% lazyScript %}
{% includeScript "../src/js/main.js" %}
{% includeScript "../src/js/homepage.js" %}

<script>
    window.markerConfig = {
        destination: '60085754791a703a93f4e3ca',
    };
</script>
<script>
    !function(e,r,t){
        if(e.__Marker)return;e.__Marker={};
        var n=r.createElement('script');
        n.async=1,n.src='https://edge.marker.io/latest/shim.js';
        var s=r.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(n,s)}(window,document);
</script>
</body>
</html>
