<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{ homepage.meta.meta_title }}</title>
    <meta name="title" content="{{ homepage.meta.meta_title }}">
    <meta name="description" content="{{ homepage.meta.meta_desc }}">
    <meta name="keywords" content="{{ homepage.meta.meta_keys }}">
    <meta property="og:title" content="{{ homepage.meta.meta_title }}">
    <meta property="og:description" content="{{ homepage.meta.meta_desc }}">

    <meta name="twitter:image"
          content="https://ks-kentico-prod-cdn-endpoint.azureedge.net/netxstoreviews/webHeroSuperLarge/128527.jpg"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ homepage.meta.meta_title }}">
    <meta name="twitter:description" content="{{ homepage.meta.meta_desc }}">
    <meta name="twitter:url" content="https://www.annual-report.kingspan.com"/>

    <link rel="stylesheet" href="src/css/homepage.css"/>
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>

{% include component/header_xw.html %}
<main>
    {% include homepage_last/main.html %}
    {% include homepage_last/impact.html %}
    {% include homepage_last/comm.html %}
    {% include homepage_last/mission.html %}
    {% include homepage_last/presentation.html %}
    {% include homepage_last/financial.html %}
    {% include homepage_last/business.html %}
</main>
{% include component/footer.html %}


{% lazyScript %}

{% includeScript "./src/js/homepage.js" %}

<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

</body>
</html>
