<!DOCTYPE html>
<html lang="en" >
<head>
    {% include Head.html %}

    <title>{{  homepage.meta.meta_title }}</title>
    <meta name="description" content="{{homepage.meta.meta_desc }}">

    <link rel="stylesheet" href="src/css/homepage_alt.css"/>
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>

{% include component/header.html %}
<main>
    {% include homepage_alt/main.html %}
    {% include homepage_alt/mission.html %}
    {% include homepage_alt/impact.html %}
    {% include homepage_alt/our_goals.html %}
    {% include homepage_alt/presentation.html %}
    {% include homepage_alt/financial.html %}
    {% include homepage_alt/business.html %}
</main>
{% include component/footer.html %}


{% lazyScript %}
{% includeScript "./src/js/main.js" %}
{% includeScript "./src/js/homepage.js" %}

<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

<script>
    window.markerConfig = {
        destination: '60085754791a703a93f4e3ca',
    };
</script>
<script>
    !function(e,r,t){
        if(e.__Marker)return;e.__Marker={};
    var n=r.createElement('script');
        n.async=1,n.src='https://edge.marker.io/latest/shim.js';
        var s=r.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(n,s)}(window,document);
</script>
</body>
</html>