<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{  biz_strategy.meta.meta_title }}</title>
    <meta name="description" content="{{biz_strategy.meta.meta_desc }}">

    <link rel="stylesheet" href="../src/css/innovation.css"/>
</head>
<body>

{% include component/header_xw.html %}
<main>
    {% include innovation/main_biz_strategy.html %}
    {% include innovation/performance.html %}
    {% include innovation/article_img_right.html %}
    {% include innovation/comm.html %}
    {% include innovation/plans.html %}
    {% include innovation/article_img_left.html %}
    {% include innovation/article_img_right_2.html %}
    {% include innovation/space_rich.html %}
    {% include innovation/better.html %}
    {% include component/back_to_top.html %}

</main>
{% include component/footer.html %}

{% lazyScript %}

{% includeScript "../src/js/biz_strategy.js" %}


</body>
</html>