<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{  biz_strategy.meta.meta_title }}</title>
    <meta name="description" content="{{biz_strategy.meta.meta_desc }}">

    <link rel="stylesheet" href="../src/css/planet.css"/>
</head>
<body>

{% include component/header_xw.html %}
<main>
    {% include planet/main_biz_strategy.html %}
    {% include planet/performance.html %}
    {% include planet/comm.html %}
    {% include planet/slider_biz_strategy.html %}
    {% include planet/article_detail_left_img.html %}
    {% include planet/our_net.html %}
    {% include planet/article_img_right.html %}
    {% include planet/article_img_left.html %}
    {% include planet/better.html %}
    {% include component/back_to_top.html %}

</main>
{% include component/footer.html %}

{% lazyScript %}

{% includeScript "../src/js/biz_strategy.js" %}





</body>
</html>