<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{  rich_story.meta.meta_title }}</title>
    <meta name="description" content="{{rich_story.meta.meta_desc }}">

    <link rel="stylesheet" href="../src/css/renovation.css"/>
</head>
<body>

{% include component/header_w.html %}
<main>
    {% include renovation/main_rich.html %}
    {% include renovation/performance.html %}
    {% include renovation/buble_rich.html %}
    {% include renovation/goals_rich.html %}
    {% include renovation/space_rich.html %}
    {% include renovation/next_rich.html %}
    {% include renovation/better_rich.html %}
</main>
{% include component/footer.html %}


{% lazyScript %}
{% includeScript "../src/js/main.js" %}
{% includeScript "../src/js/renovation.js" %}


</body>
</html>
