<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{  rich_story.meta.meta_title }}</title>
    <meta name="description" content="{{rich_story.meta.meta_desc }}">

    <link rel="stylesheet" href="../src/css/story.css"/>
</head>
<body>

{% include component/header_w.html %}
<main>
    {% include rich_story/main_rich.html %}
    {% include rich_story/buble_rich.html %}
    {% include rich_story/goals_rich.html %}
    {% include rich_story/slider_rich.html %}
    {% include rich_story/space_rich.html %}
    {% include rich_story/next_rich.html %}
    {% include rich_story/better_rich.html %}
</main>
{% include component/footer.html %}


{% lazyScript %}
{% includeScript "../src/js/main.js" %}
{% includeScript "../src/js/story.js" %}



</body>
</html>
