<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{ terms.meta_title }}</title>
    <meta name="title" content="{{ terms.meta_title }}">
    <meta name="description" content="{{ terms.meta_desc }}">
    <meta name="keywords" content="{{ terms.meta_keys }}">
    <meta property="og:title" content="{{ terms.meta_title }}">
    <meta property="og:description" content="{{ terms.meta_desc }}">

    <meta name="twitter:image"
          content="https://ks-kentico-prod-cdn-endpoint.azureedge.net/netxstoreviews/webHeroSuperLarge/128527.jpg"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ terms.meta_title }}">
    <meta name="twitter:description" content="{{ terms.meta_desc }}">
    <meta name="twitter:url" content="https://www.annual-report.kingspan.com"/>
    <link rel="stylesheet" href="/src/css/policy.css"/>
</head>
<body>

{% include component/header.html %}
<main>
    {% include terms/terms_section.html %}
</main>
{% include component/footer_small.html %}

<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
{% lazyScript %}
{% includeScript "../src/js/policy.js" %}


</body>
</html>
