<section class="business wrapper">
    <div class="business_wrap">
        <div class="container">
            <div class="business_text">
                <p class="business_text_strong">{{homepage_alt.business.strong}}</p>
                <h2 class="business_text_title">{{homepage_alt.business.title}}</h2>
                <p class="business_text_desc">{{homepage_alt.business.desc}}</p>
                <div class="business_button">
                    <a class="button_lg button_lg__blue" href="{{ homepage_alt.business.btn_href }}">{{ homepage_alt.business.btn_text }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="business_graph">
        <div class="business_graph_img">

            <div class="business_graph_slider slider_graph">
                {% for slide in homepage_alt.business.data_slide %}
                <div>
                    <div class="business_graph_slide_img">
                        <img class="" src="{{ slide.img }}" alt="graph">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="business_graph_menu">
                <div class="graph_menu_list">
                    {% for item in homepage_alt.business.graph_menu %}
                        <a class="graph_menu_item" href="#" data-slide="{{item.data_num}}">{{item.name}}</a>
                    {% endfor %}
                </div>
                <div class="graph_skip_button_box">
                    <p class="graph_skip_button">{{homepage_alt.business.btn_skip}}</p>
                </div>
            </div>


            <div class="business_graph_desc">
                <p>
                    {{homepage_alt.business.graph_desc}}
                </p>
            </div>
        </div>
    </div>



</section>