.basic_detail_text {
  margin: 160px auto;

  @include mq(sm){
    margin: 80px auto;
  }
  @include mq(xs){
    padding-bottom: 40px;
  }
}
.basic_detail_text_container {
  max-width: 1114px;
  margin: 0 auto;
}
.basic_detail_text_box {
  margin-bottom: 60px;
}
.basic_detail_text_box_spec {
  margin-bottom: 120px;
  padding-bottom: 120px;
  border-bottom: 1px solid $gray;

  @include mq(sm) {
    margin-bottom: 60px;
    padding-bottom: 60px;
  }
}
.basic_detail_text_title {
  font-size: $fontSizeMD + 4px;
  margin-bottom: 22px;
  font-weight: bold;
}
.basic_detail_text_info {
  font-family: $brownLight;
  font-size: $fontSizeSM;
  color: $black;
  line-height: 1.3;
}
.basic_detail_text_wrapper {
  max-width: 885px;
  margin: 0 auto;
}

