<section class="basic_article">
    <div class="wrapper container">
        <div class="basic_article_crumbs_box">
            <div class="breadcrumbs basic_article_crumbs">
                <a href="{{values.basic_article.bread_outside_link}}">{{values.basic_article.bread_outside}}</a>
                <span>{{values.basic_article.bread_inside}}</span>
            </div>
        </div>

        <div class="basic_article_right">
            <div class="basic_article_box basic_article_right_box wrapper">
                <div class="basic_article_info_box basic_article_info_box_right">

                    <h3 class="basic_article_info_title">{{values.basic_article.title}}</h3>
                    <p class="basic_article_info_desc">{{values.basic_article.desc}}</p>
                </div>
                <div class="basic_article_img_box">
                    <img class="basic_article_img basic_article_img_right" src="{{values.basic_article.img2}}" alt="img">
                </div>
            </div>
        </div>

        <div class="basic_article_left">
            <div class="basic_article_box wrapper">
                <div class="basic_article_img_box">
                    <img class="basic_article_img" src="{{values.basic_article.img}}" alt="img">
                </div>
                <div class="basic_article_info_box">

                    <h3 class="basic_article_info_title">{{values.basic_article.title_two}}</h3>
                    <p class="basic_article_info_desc">{{values.basic_article.desc_two}}</p>
                </div>
            </div>
        </div>

    </div>

</section>