.comm_glob {
  position: relative;
  margin: 160px auto;

  @include mq(lg) {
    margin: 80px 0;
  }
  @include mq(xs) {
    margin: 70px 0 0 0;
  }
}

.comm_glob_box {
  max-width: 768px;
  margin: 0 auto 120px auto;

  @include mq(xxl) {
    width: 635px;
  }

  @include mq(lg){
    margin-bottom: 80px;
  }
  @include mq(sm) {
    margin-bottom: 40px;
  }
}

.comm_glob_title {
    font-size: $fontSizeMD + 4px;
    margin-bottom: 20px;
    font-weight: bold;

    @include mq(xs) {

    }
}
.comm_glob_text {
    font-family: $brownLight;
  color: $blue;
  line-height: 1.3;
  font-size: $fontSizeSM;
}
.comm_glob_img_box {
  position: relative;
  max-width: 900px;
  margin: 0 auto;

}
