<section class="space_rich">
    <div class="wrapper">
        <div class="space_rich_title_box">
            <p class="space_rich_text">{{rich_story.space_rich.title_text}}</p>
            <h2 class="space_rich_title">{{rich_story.space_rich.title}}</h2>
        </div>
        <div class="space_rich_box">
            <div class="space_rich_content_box">
                <img src="{{rich_story.space_rich.img_one}}" alt="img">
                <p>{{rich_story.space_rich.one_text}}</p>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{rich_story.space_rich.title_desc_one}}</p>
                    <p>{{rich_story.space_rich.desc_one}}</p>
                </div>
                <div class="space_rich_article">
                    <p>{{rich_story.space_rich.title_desc_two}}</p>
                    <p>{{rich_story.space_rich.desc_two}}</p>
                </div>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{rich_story.space_rich.title_desc_three}}</p>
                    <p>{{rich_story.space_rich.desc_three}}</p>
                </div>
            </div>
            <div class="space_rich_content_box space_upper">
                <img src="{{rich_story.space_rich.img_two}}" alt="img">
                <p>{{rich_story.space_rich.two_text}}</p>
            </div>
        </div>
        <div class="space_rich_content_box space_rich_spec">
            <img src="{{rich_story.space_rich.img_three}}" alt="img">
            <p>{{rich_story.space_rich.three_text}}</p>
        </div>
    </div>
</section>