<footer class="footer wrapper">

    <div class="container">
        <div class="footer_top">
            <div class="footer_section_left">
                <nav class="footer_menu">
                    <ul class="footer_menu__list">
                        {% for link_footer in footer.menu_footer %}
                        <li class="footer_menu__item">
                            <a href="{{link_footer.link_href}}">{{link_footer.link_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="footer-info">
                    <p class="footer-info__copy">© Kingspan <span class="copy"></span>. All rights reserved.</p>
                    <p class="footer-info__report">Annual Report & Financial Statements <span class="copy"></span></p>
                </div>
            </div>
            <div class="footer_section_right">
                <div class="footer_back_link">
                    <a href="https://kingspan.com" class="link_back">
                        <span class="link_back__icon">
<!--                            <img src="{{footer.path}}" alt="<&#45;&#45;">-->
                             {{ footer.path | svgContents }}
                        </span>
                        <span class="link_back__text">Back to Main Site</span>
                    </a>
                    <a href="https://kingspan.com" class="footer_logo">
                        {{ footer.logo | svgContents }}
<!--                        <img src="{{footer.logo}}" alt="logo">-->
                    </a>
                </div>
            </div>
        </div>

        <div class="footer_section_bottom">
            <div class="footer_socials">
                <ul class="footer_socials__list">
                    {% for soc_link_item in footer.socials_link_footer %}
                    <li class="footer_socials__item">
                        <a class="footer_socials__link" href="{{soc_link_item.link_href}}" target="_blank">
<!--                            <img src="{{footer.socials}}" alt="socials">-->
                            {{ soc_link_item.socials | svgContents }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</footer>

