.plans {
  position: relative;
  margin: 120px auto;

  @include mq(lg) {
    margin: 80px auto;
  }
  @include mq(xs) {
    margin-top: 50px;
  }
}
.plans_year_box, .plans_title_box, .plans_info_wrap {
  max-width: 1330px;
  margin: 0 auto;

  @include mq(xxl) {
    width: 90%;
  }
}
.plans_title_box {
   margin-bottom: 80px;

  @include mq(lg) {
    margin-bottom: 60px;
  }
  @include mq(xs) {
    margin-bottom: 15px;
  }
}
.plans_title {
  font-size: $fontSizeXl;

  @include mq(xxl){
    font-size: $fontSizeXl - 20px;
  }

  @include mq(lg) {
    font-size: $fontSizeXl - 25px;
  }
  @include mq(xs) {
    font-size: $fontSizeLG + 4px;
  }
}
.plans_info_box {
  background: linear-gradient(90deg, $greenLight 50%,  $white 50%);
  position: relative;
  padding: 52px 0 120px 0;

  @include mq(lg) {
    padding: 30px 0 60px 0;
  }

  @include mq(md) {
    background: linear-gradient(90deg, $greenLight 75%,  $white 50%);
  }

  @include mq(xs) {
    padding: 30px 0 45px 0;
  }
}
.plans_info_title {
  font-size: $fontSizeLG - 4px;
  margin-bottom: 65px;
  font-weight: bold;

  @include mq(lg) {
    font-size: $fontSizeLG - 11px;
    margin-bottom: 30px;
  }
  @include mq(sm) {
    display: none;
  }
}
.plans_info_desc {
  font-size: $fontSizeSM;
  font-family: $brownLight;
  line-height: 1.4;

  @include mq(lg) {
    font-size: $fontSizeSM - 4px;
  }
  @include mq(xs) {
    font-size: $fontSizeSM;
  }
}
.plans_info_box_content {
  max-width: 595px;

  @include mq(xxl) {
    max-width: 545px;
  }
  @include mq(lg) {
    max-width: 420px;
  }
}
.plans_map {
  background-color: $blue;
  padding: 60px 0 0 0;

  @include mq(lg) {
    padding: 0 0 50px 0;
  }
  @include mq(xs) {
    padding: 0;
  }
}
.plans_year {
  background-color: $white;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
  margin-top: -90px;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;

  @include mq(lg) {
    margin-top: -3%;
  }

  @include mq(xs) {
    padding: 25px 15px;
    margin-top: -30px;
  }

  &:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 95%;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $gray;
    @include mq(xs) {
      width: 85%;
    }
  }

  & > div:nth-child(2) {
      &:before {
        width: 50px;
        height: 50px;
        background-color: $yellow;
        bottom: -15px;

        @include mq(xs) {
          width: 40px;
          height: 40px;
          bottom: -11px;
        }
      }

      & > p {
        font-size: $fontSizeLG - 4px;

        @include mq(xs) {
          font-size: $fontSizeXS + 1px;
        }
      }
    }
}

.plans_year_info {
  margin: 0 40px;
  padding: 0 20px;
  position: relative;
  height: 80px;

  &:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $gray;

    @include mq(xs) {
      width: 25px;
      height: 25px;
      bottom: -5px;
    }
  }

  @include mq(sm) {
    margin: 0 10px;
  }
  @include mq(xs) {
    margin: 0;
    padding: 0;
    height: 65px;
  }
}
.plans_year_info_text {
  font-size: $fontSizeXS ;
  font-family: $nimbusNew;
  font-weight: bold;

  @include mq(xs) {
    font-size: $fontSizeXS - 4px;
  }
}
.plans_map_img_box {
  position: relative;
}
.plans_map_img {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;

  @include mq(sm) {
    padding-bottom: 0;
    width: 100%;
    display: block;
  }

  &_desc {
    position: relative;


    &:before {
      content: "";
      position: absolute;
      left: 59%;
      top: 21%;
      width: 150px;
      height: 1px;
      background-color: $white;
      transform: translate(-50%, -50%) rotate(-15deg);
      z-index: 1;
    }


    @include mq(sm) {
      display: none;
    }

    & > img {
      max-width: 1250px;
      height: 100%;

      @include mq(xxl) {
        & > img {
          max-width: 1100px;
        }
      }
      @include mq(lg) {
        & > img {
          max-width: 900px;
        }
      }
    }
  }

  &_mob {
    display: none;
    position: relative;


    &:before {
      content: "";
      position: absolute;
      left: 51%;
      bottom: 48%;
      width: 315px;
      height: 1px;
      background-color: $white;
      transform: translate(-50%, -50%) rotate(-80deg);
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      left: 55%;
      top: 24%;
      width: 35px;
      height: 35px;
      border-radius: 100px;
      border: 1px solid $white;
      background-color: $greenMD;
      transform: translate(-50%, -50%);
      z-index: 2;
    }


    @include mq(sm) {
      display: block;
    }

    @include mq(xs) {
      &:before {
        width: 230px;
        bottom: 46%;
        left: 50%;
      }
    }
    @include mq(xxs) {
      &:before {
        width: 190px;
      }
    }

    & > img {
      width: 100%;
      height: 100%;
    }

  }


}
.plans_map_place_box {
  position: absolute;
  padding: 20px;
  width: 340px;
  box-sizing: border-box;
  background-color: $white;
  right: 25%;
  top: 10%;
  z-index: 9;

  @include mq(xxl) {
    right: 17%;
  }
  @include mq(lg) {
    right: 8%;
  }
  @include mq(md) {
    width: 218px;
  }
  @include mq(sm) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: initial;
    bottom: 45px;
  }
  @include mq(xs) {
    bottom: 15px;
    padding:  10px 10px 15px  15px;
  }
}
.plans_map_place_title {
  font-size: $fontSizeLG - 4px;
  margin-bottom: 15px;
  font-weight: bold;

  @include mq(md) {
    font-size: $fontSizeMD;
    margin-bottom:10px;
  }

}
.plans_map_place_desc {
  font-size: $fontSizeMD;
  font-family: $brownLight;

  @include mq(md) {
    font-size: $fontSizeSM;
  }
}

.plans_map_info_box {
  background-color: $white;
  padding: 33px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  position: absolute;
  bottom: -90px;
  right: 8%;
  width: 317px;

  @include mq(lg) {
    bottom: -15%;
  }
  @include mq(md) {
    padding: 25px;
  }
  @include mq(sm) {
    box-sizing: initial;
    width: 375px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -125px;
  }
  @include mq(xs) {
    width: 92%;
    max-width: 304px;
    padding: 15px 5px;
  }
}
.plans_map_info_list {
  list-style: none;
  font-size: $fontSizeSM;
  font-family: $brownLight;

  @include mq(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.plans_map_info_item {
  margin-bottom: 10px;

  @include mq(sm) {
    width: 50%;
  }
}
.plans_map_info_elem {

  & > span {
    padding-right: 5px;
  }
  @include mq(xs) {
    font-size: $fontSizeXS - 2px;
  }
  @include mq(xxs) {
    font-size: $fontSizeXS - 4px;
  }
}
.plans_map_place_close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  & > svg {
    width: 30px;
    height: 30px;
  }

  @include mq(sm) {


    & > svg {
      width: 26px;
      height: 26px;
    }
  }

}