.buble_rich {
   padding: 90px 0 180px 0;

  @include mq(lg) {
    padding: 70px 0 140px 0;
  }
  @include mq(sm) {
    padding: 40px 0 240px 0;
  }
}
.buble_rich_container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(md) {
    flex-direction: column;
  }
}
.buble_rich_title {
  font-size: $fontSizeXl - 20px;
  max-width: 655px;
  margin-right: 100px;
  font-weight: bold;

  @include mq(xxl) {
    font-size: $fontSizeXl - 40px;
    max-width: 460px;
  }
  @include mq(lg) {
    font-size: $fontSizeXl - 51px;
    width: 310px;
  }
  @include mq(md) {
    margin: 0 auto 30px auto;
    font-size: $fontSizeXl - 45px;
    max-width: 400px;
    width: 100%;
  }

  & > span {
    width: 80px;
    height: 1px;
    background-color: #004990;
    margin-left: 20px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;

    @include mq(lg) {
      width: 50px;
    }
  }
}
.buble_rich_box {
  display: flex;
  width: 635px;
  height: 555px;
  position: relative;

  @include mq(xxl) {
    width: 565px;
    height: 430px
  }
  @include mq(md) {
    width: 500px;
  }
  @include mq(xs) {
    width: 300px;
    height: 335px;
  }
}
.buble_rich_item {
  width: 157px;
  height: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .3s;
  border-radius: 100%;
  background-color: $orange;
  position: absolute;
  color: $white;
  font-family: $nimbusNew;
  font-weight: bold;

  @include mq(xxl) {
    width: 140px;
    height: 140px;
  }
  @include mq(xs) {
    width: 110px;
    height: 110px;
  }

  &:hover {
    transform: scale(1.02);
    transition: .3s;
  }

  &:first-child {
      left: 30%;
      background: rgba(194, 91, 47, 0.4);
      color: $orange;

    @include mq(xs) {
      width: 90px;
      height: 90px;
      left: 37%;
    }
  }
  &:nth-child(2) {
    left: 2%;
    top: 30%;
    width: 211px;
    height: 211px;
    background: rgba(194, 91, 47, 0.8);

    @include mq(xxl) {
      width: 160px;
      height: 160px;
    }
    @include mq(xs) {
      width: 105px;
      height: 105px;
      left: 0%;
      top: 18%;
    }

  }
  &:nth-child(3) {
    left: 0;
    bottom: 5%;
    width: 127px;
    height: 127px;
    background: rgba(194, 91, 47, 0.2);
    color: $orange;

    @include mq(xxl) {
      width: 110px;
      height: 110px;
    }
    @include mq(xs) {
      width: 90px;
      height: 90px;
      bottom: 20%;
      left: -5px;
    }

  }
  &:nth-child(4) {
    left: 30%;
    bottom: 0;
    background: rgba(194, 91, 47, 0.6);

    @include mq(xs) {
      left: 26%;
      bottom: -15px;
    }
  }
  &:nth-child(5) {
    right: 0;
    bottom: 20%;
    width: 310px;
    height: 310px;

    @include mq(xxl) {
      width: 245px;
      height: 245px;
    }
    @include mq(xs) {
      width: 160px;
      height: 160px;
      bottom: 24%;
    }

  }

}
.buble_rich_desc {
  position: absolute;
  text-align: center;
  bottom: -45px;
  right: 5%;
  color: $blue;
  max-width: 240px;
  font-family: $inco;
  font-weight: bold;

  @include mq(xxl) {
    right: 0;
    bottom: -65px;
  }
  @include mq(xs) {
    right: 5px;
    bottom: -120px;
    max-width: 151px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -100px;
    width: 140px;
    height: 1px;
    background-color: $blue;
    transform: rotate(90deg);
    display: block;

    @include mq(xxl) {
      width: 110px;
      top: -90px;
    }
    @include mq(xs) {
      width: 100px;
      top: -60px;
    }

  }
}

.buble_rich_percent {
  color: inherit;
  font-size: $specSizeLG;
  font-weight: bold;

  @include mq(xs) {
    font-size: $specSizeLG - 12px;
  }
}
.buble_rich_text {
  color: inherit;
  font-size: $fontSizeSM;
  text-align: center;
  font-family: $brownLight;
  font-weight: 100;

  @include mq(xs) {
    font-size: $specSizeSM - 7px;
  }
}