<section class="basic_article">
    <div class="wrapper container">

        <div class="basic_article_left">
            <div class="basic_article_box wrapper">
                <div class="basic_article_img_box">
                    <img class="basic_article_img" src="{{carbon.basic_article_left.img}}" alt="img">
                </div>
                <div class="basic_article_info_box">
                    <p class="basic_article_info_text">{{carbon.basic_article_left.text}}</p>
                    <h3 class="basic_article_info_title">{{carbon.basic_article_left.title}}</h3>
                    <p class="basic_article_info_desc">{{carbon.basic_article_left.desc}}</p>
                    <p class="basic_article_info_author">{{carbon.basic_article_left.author}}</p>
                </div>
            </div>
        </div>
    </div>

</section>