<section class="next_rich">
    <div class="next_rich_container wrapper">

        <div class="next_rich_img_box filter_mobile">
            <a href="#" class="">Read Next</a>
            <div class="filter">
                <img src="{{carbon.next_rich.img}}" alt="img">
            </div>
        </div>

        <div class="next_rich_title_box">
            <div class="next_rich_info">
                <p class="next_rich_info__small">{{carbon.next_rich.little_text}}</p>
                <p class="next_rich_info__big">{{carbon.next_rich.big_text}}</p>
            </div>
            <h1 class="next_rich_title">{{carbon.next_rich.title}}</h1>
            <div class="next_rich_buttons">
                <a class="button_lg button_lg__blue button_lg__blue-light" href="{{ carbon.next_rich.btn_href }}">{{ carbon.next_rich.btn_text }}</a>
            </div>
        </div>
    </div>
</section>