<section class="carbon_rich renov_carbon">

    <div id="carbon_s" class="active_video">
        <div class="close_video"></div>
        <div class="video_size" id="youtube">
            <iframe src="https://www.youtube.com/embed/{{ carbon.space_carbon.idVideo }}?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


    <div class="wrapper">
        <div class="carbon_rich_title_box">
            <p class="carbon_rich_text">{{carbon.space_carbon.title_text}}</p>
            <h2 class="carbon_rich_title">{{carbon.space_carbon.title}}</h2>
        </div>
        <div class="carbon_rich_box">
            <div class="carbon_rich_content_box space_carbon_box">

            </div>
            <div class="carbon_rich_article_box">
                <div class="carbon_rich_article">
                    <p>{{carbon.space_carbon.title_desc_one}}</p>
                    <p>{{carbon.space_carbon.desc_one}}</p>
                </div>
                <div class="carbon_rich_article">
                    <p>{{carbon.space_carbon.title_desc_two}}</p>
                    <p>{{carbon.space_carbon.desc_two}}</p>

                </div>
            </div>
            <div class="carbon_rich_article_box">
                <div class="carbon_rich_article">
                    <p>{{carbon.space_carbon.title_desc_three}}</p>
                    <p>{{carbon.space_carbon.desc_three}}</p>

                </div>
            </div>
            <div class="carbon_rich_content_box carbon_upper">

            </div>
        </div>
        <div class="carbon_rich_content_box space_carbon_rich_spec">
            <img src="{{carbon.space_carbon.img_three}}" alt="img">
            <span data-play="carbon_s" class="button_play button_play_spec">{{carbon.space_carbon.btnPlay | svgContents }}</span>
            <p>{{carbon.space_carbon.three_text}}</p>
        </div>
    </div>

</section>
