<section class="space_rich renov_space">
    <div class="wrapper">
        <div class="space_rich_title_box">
            <p class="space_rich_text">{{carbon.space_rich.title_text}}</p>
            <h2 class="space_rich_title">{{carbon.space_rich.title}}</h2>
        </div>
        <div class="space_rich_box">
            <div class="space_rich_content_box">
                <img src="{{carbon.space_rich.img_one}}" alt="img">
                <p>{{carbon.space_rich.one_text}}</p>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{carbon.space_rich.title_desc_one}}</p>
                    <p>{{carbon.space_rich.desc_one}}</p>

                </div>
                <div class="space_rich_article">
                    <p>{{carbon.space_rich.title_desc_two}}</p>
                    <p>{{carbon.space_rich.desc_two}}</p>

                </div>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{carbon.space_rich.title_desc_three}}</p>
                    <p>{{carbon.space_rich.desc_three}}</p>

                </div>
            </div>
            <div class="space_rich_content_box space_upper">

            </div>
        </div>
        <div class="space_rich_content_box space_rich_spec_two">
            <img src="{{carbon.space_rich.img_three}}" alt="img">

        </div>
    </div>


</section>