<section class="testi">
    <div class="container">
        <div class="testi_description">
            <div class="testi_text">
                <img class="quote quote_top" src="{{ carbon.testimonial.quoteTop }}" alt="quote">
                <div class="testi_text__description">
                    <p>{{carbon.testimonial.desc}}</p>
                </div>
                <div class="testi_text__author">
                    <p>{{carbon.testimonial.author}}</p>
                </div>
                <p class="testi_text__prof_title">{{carbon.testimonial.prof_title}}</p>
            </div>
            <img class="quote quote_bottom" src="{{ carbon.testimonial.quoteBottom }}" alt="quote">
        </div>
    </div>
</section>