@font-face {
  font-family: "BrownBold";
  src: url("/src/fonts/Brown/Brown-Bold.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrownLight';
  src: url("/src/fonts/Brown/Brown-Light.otf");
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "BrownReg";
  src: url("/src/fonts/Brown/Brown-Regular.otf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inco";
  src: url("/src/fonts/Inconsolata/Inconsolata-Light.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus";
  src: url("/src/fonts/Nimbus/Nimbus.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family:"nimbus-sans-extended";
  src:url("https://use.typekit.net/af/b13282/00000000000000003b9af904/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/b13282/00000000000000003b9af904/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/b13282/00000000000000003b9af904/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family:"nimbus-sans-condensed";
  src:url("https://use.typekit.net/af/546806/00000000000000003b9b29b7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/546806/00000000000000003b9b29b7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/546806/00000000000000003b9b29b7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
  font-family:"nimbus-sans-extended-b";
  src:url("https://use.typekit.net/af/263fc9/00000000000000003b9af905/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/263fc9/00000000000000003b9af905/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/263fc9/00000000000000003b9af905/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
  font-family:"nimbus-sans-condensed-l";
  src:url("https://use.typekit.net/af/f6c05e/00000000000000003b9b29b5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f6c05e/00000000000000003b9b29b5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f6c05e/00000000000000003b9b29b5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
}