html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  max-width: 100%;
  color: $blue;
  font-size: $fontSizeXS;
  font-family: $brown;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  @include mq(xxl) {

  }
}

strong {
  font-family: $incoExtraBold;
}

.no-cursor {
  cursor: default !important;
}

.filter {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, .3);
    position: absolute;
  }
}

.filter_mobile {
  position: relative;
  @include mq(sm) {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0, .3);
      position: absolute;
    }
  }

}

.title_font {
  font-size: $fontSizeXl;

  @include mq(xxl) {
    font-size: $fontSizeXl - 20px;
  }
  @include mq(lg) {
    font-size: $fontSizeXl - 40px;
  }
  @include mq(sm) {
    font-size: $fontSizeXl - 32px;
  }
  @include mq(xs) {
    font-size: $fontSizeXl - 32px;
  }
}
.title_font_spec {
  font-size: $fontSizeXl;
  font-family: $nimbus;

  @include mq(xxl) {
    font-size: $fontSizeXl - 8px;
  }

  @include mq(lg) {
    font-size: $fontSizeXl - 30px;
  }

  @include mq(sm) {
    font-size: $fontSizeXl - 35px;
  }
}
.mobile_img {
  @include mq(md) {
    width: 600px;
  }
}
.scroll-hidden {
  overflow: hidden !important;
  height: 100vh;
}
.button_font {
  font-family: $nimbusNew;
  font-weight: bold;
  text-transform: uppercase;
}

//---- extends ----
.elem_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;

  @include mq(sm) {
    width: 92%;
  }
}

.context_box_left {
  margin-left: 15%;
}

.info_page_title {
  @extend .title_font;
  font-weight: bold;
}
.info_page_desc {
  font-family: $brownLight;
  font-size: $fontSizeMD - 2px;
  color: $blue;
  margin-top: 60px;
}
.info_page_wrap {
  width: 90%;
  margin: 200px auto;

  h1 {
    @extend .title_font;
    font-weight: bold;
    margin: 10px 0 30px 0;
  }

  h2 {
    font-size: $fontSizeMD;
    line-height: 1.3;
    font-weight: bold;
  }

  h3 {
    font-size: $fontSizeMD - 4px;
    line-height: 1.3;
    font-weight: bold;
  }

  p {
    color: $blue;
    font-size: $fontSizeSM;
    margin: 10px 0 20px 0;
    font-family: $brownLight;
    line-height: 1.3;

    @include mq(lg) {
      font-size: $fontSizeSM - 2px;
    }
  }

  a {
    color: $green;
    position: relative;
    font-family: $brownBold;
    text-decoration: underline;
    font-weight: normal;
  }

  ul {
    color: $blue;
    font-size: $fontSizeSM;
    font-family: $brownLight;
    line-height: 1.3;
    margin: 10px 0 20px 0;
    padding-left: 20px;

    @include mq(lg) {
      font-size: $fontSizeSM - 2px;
    }

    li {
      margin: 10px 0 20px 0;
    }

    ul {
      margin: 10px 0 20px 0;
    }
  }

  ol {
    color: $blue;
    font-size: $fontSizeSM;
    font-family: $brownLight;
    line-height: 1.3;
    margin: 10px 0 20px 0;

    @include mq(lg) {
      font-size: $fontSizeSM - 2px;
    }

    li {
      margin: 10px 0 20px 0;
    }

    ol {
      margin: 10px 0 20px 0;
    }
  }

  table {
    table-layout: fixed;
    border: 1px solid $black;
    text-align: left;
    font-size: $fontSizeSM;
    font-family: $brownLight;
    color: $blue;
    margin: 10px 0 30px 0;

    @include mq(lg) {
      font-size: $fontSizeSM - 2px;
    }

    tr {
      border: 1px solid $black;

      &:nth-of-type(even) {
        background-color: #ccc;;
      }
    }

    th {
      font-weight: bold;
      background-color: #ccc;
    }

    td {
      font-weight: normal;
    }

    th, td {
      border: 1px solid $black;
      padding: 10px;
    }
  }

  @include mq(md) {
    margin-top: 100px;
  }
}
.video {
  width: 100%;
}

// 404

.not_page {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.not_page_box {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.not_page_error {
  text-transform: uppercase;
  font-size: $fontSizeXl;
  font-family: $nimbusStrong;
  text-align: center;
}
.not_page_title {
  margin: 30px auto;
  text-align: center;
}
.not_page_back {
  & > a {
    max-width: 300px;
  }
}


// youtube

/* видео плееры */
.youtube {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
}
.youtube .play {
  background: url('../image/icons/play.png') no-repeat; /*ВАЖНО: здесь укажите адрес до изображения*/
  /*background-position: 0 -50px;*/
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  height: 50px;
  width: 69px;
  transition: none;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  z-index: 999;
  opacity: 0;
}
.youtube:hover .play {
  background-position: 0 0;
}
.box {

  position: relative;
}
.box>img {
  position: relative;
  width: 100%;
}
.box:before {
  content: '';
  background: url('img/btn-tube.png') no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 69px;
  z-index: 999;
}
.video-box {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  overflow: hidden;

}
.video-box>iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 99;
}