.slider {
  position: relative;
  width: 100%;
}
.slide {
  width: 220px !important;
  height: auto;
}
.slick-track {
  margin-left: 5%;
}
.slider-arrows {
  display: none;
}
// swiper //

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  left: 5%;
}
