.basic_detail_text {
  margin: 120px 10%;

  @include mq(sm){
    margin: 80px 4%;
  }
  @include mq(xs){
    padding-bottom: 40px;
  }
}

.bottom_bar {
  margin: 40px 10%;

  border-bottom: 1px solid $gray;
}

.chair_detail_text {
  margin: 80px auto;

  @include mq(xs){
    padding-bottom: 40px;
  }
}

.chair_detail_text_box {
  margin-top: 30px;
}


.basic_detail_text_container {
  max-width: 1114px;
  margin: 0 auto;
}
.basic_detail_text_box {
  margin-bottom: 60px;
}
.basic_detail_text_box_spec {
  margin-bottom: 120px;
  padding-bottom: 120px;


  @include mq(sm) {
    margin-bottom: 60px;
    padding-bottom: 60px;
  }
}
strong {
  font-size: $fontSizeMD + 4px;
  font-weight: bold;
  font-family: $brown, sans-serif;
}

.basic_detail_text_title {
  font-size: $fontSizeMD + 4px;
  margin-top: 12px;
  margin-bottom: 8px;
  font-weight: bold;

}

ul.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
ul.dash > li:before {
  display: inline-block;
  content: "-";
  color: $blue;
  width: 1em;
  margin-left: -1em;
}

.basic_detail_text_info {
  font-family: $brownLight;
  font-size: $fontSizeSM;
  color: $blue;
  line-height: 1.3;

  & > strong {
    color: $blue;
    font-weight: bold;
  }
}
.basic_detail_text_wrapper {
  max-width: 885px;
  margin: 0 auto;

  img {
    margin-top: 20px;
  }
}

.chair_pres_author {
  font-size: $fontSizeSM;
  margin: 40px 0;
  font-family: $nimbus;
  text-transform: uppercase;
}
