<head>
    {% include Head.html %}
    <title>404</title>
    <meta name="description" content="page not found">

    <link rel="stylesheet" href="./src/css/politic.css"/>
</head>
<body>

<main>
    <div class="not_page">
        <div class="not_page_box">
            <h1 class="not_page_error">404</h1>
            <p class="not_page_title">Sorry page not found</p>
            <div class="not_page_back business_button">
                <a class="button_lg button_lg__blue" href="/">Back to home page</a>
            </div>
        </div>

    </div>
</main>

</body>
</html>