<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_desc}}">

    <link rel="stylesheet" href="../../src/css/article_detail.css"/>
</head>
<body>

{% include component/header_xw.html %}

<main>
    {% include post_detail/main_article_detail.html %}
    {% include post_detail/article_detail_section_two.html %}
    {% include post_detail/article_detail_left_img.html %}
    {% include post_detail/article_detail_testimonials.html %}
    {% include post_detail/article_detail_small_img.html %}
    {% include post_detail/article_detail_video.html %}
    {% include post_detail/article_detail_text.html %}
    {% include post_detail/article_detail_right_img.html %}
    {% include article_detail/article_detail_better.html %}


</main>

{% include component/footer.html %}

<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
{% lazyScript %}
{% includeScript "../../src/js/main.js" %}
{% includeScript "../../src/js/article_detail.js" %}
</body>
</html>