<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{ ceo.meta.meta_title }}</title>


    <meta name="title" content="{{ ceo.meta.meta_title }}">
    <meta name="description" content="{{ ceo.meta.meta_desc }}">
    <meta name="keywords" content="{{ ceo.meta.meta_keys }}">
    <meta property="og:title" content="{{ ceo.meta.meta_title }}">
    <meta property="og:description" content="{{ ceo.meta.meta_desc }}">

    <meta name="twitter:image"
          content="https://ks-kentico-prod-cdn-endpoint.azureedge.net/netxstoreviews/webHeroSuperLarge/128527.jpg"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ ceo.meta.meta_title }}">
    <meta name="twitter:description" content="{{ ceo.meta.meta_desc }}">
    <meta name="twitter:url" content="https://www.annual-report.kingspan.com"/>

    <link rel="stylesheet" href="../../src/css/ceo.css"/>
</head>
<body>

{% include component/header_xw.html %}
<main>
    {% include ceo/main_basic.html %}
    {% include ceo/basic_text_ceo.html %}
    {% include ceo/basic_testimonials.html %}
    {% include ceo/basic_text_img.html %}
    {% include ceo/basic_text.html %}
    {% include ceo/basic_testimonials_two.html %}
    {% include ceo/basic_text2.html %}
    {% include ceo/basic_better.html %}
</main>
{% include component/footer.html %}

<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
{% lazyScript %}

{% includeScript "../../src/js/ceo.js" %}


</body>
</html>
