<section class="article_detail">
    
    <div class="article_detail_right">
        <div class="article_detail_box article_detail_right_box wrapper">
            <div class="article_detail_info_box article_detail_info_box_right">
                <p class="article_detail_info_text">{{module.seventh_text}}</p>
                <h3 class="article_detail_info_title">{{module.seventh_title}}</h3>
                <p class="article_detail_info_desc">{{module.seventh_desc}}</p>
                <div class="article_detail_info_button">
                    <a class="button_lg" href="{{ module.seventh_btn_href }}">{{ module.seventh_btn_text }}</a>
                </div>
            </div>
            <div class="article_detail_img_box">
                <img class="article_detail_img article_detail_img_right" src="{{module.seventh_img}}" alt="{{module.seventh_img_alt}}">
            </div>
        </div>
    </div>
</section>