<section class="article_detail">
    <div class="article_detail_left">
        <div class="article_detail_box wrapper">
            <div class="article_detail_img_box">
                <img class="article_detail_img" src="{{second_img}}" alt="{{second_img_alt}}">
            </div>
            <div class="article_detail_info_box">
                <p class="article_detail_info_text">{{second_text}}</p>
                <h3 class="article_detail_info_title">{{second_title}}</h3>
                <p class="article_detail_info_desc">{{second_desc}}</p>
                <div class="article_detail_info_button">
                    <a class="button_lg" href="{{ second_btn_href }}">{{ second_btn_text }}</a>
                </div>
            </div>
        </div>
    </div>
    
</section>