<section class="article_detail">
    <div class="article_detail_left">
        <div class="article_detail_box wrapper">
            <div class="article_detail_img_box">
                <img class="article_detail_img" src="{{module.second_img}}" alt="{{module.second_img_alt}}">
            </div>
            <div class="article_detail_info_box">
                <p class="article_detail_info_text">{{module.second_text}}</p>
                <h3 class="article_detail_info_title">{{module.second_title}}</h3>
                <p class="article_detail_info_desc">{{module.second_desc}}</p>
                <div class="article_detail_info_button">
                    <a class="button_lg" href="{{ module.second_btn_href }}">{{ module.second_btn_text }}</a>
                </div>
            </div>
        </div>
    </div>
    
</section>