<section class="article_detail_small">
    <div class="wrapper container">
        <div class="article_detail_small_right">
            <div class="article_detail_small_box article_detail_small_right_box wrapper">

                <div class="article_detail_small_info_box article_detail_small_info_box_right">
                    <p class="article_detail_small_info_text">{{module.fourth_text}}</p>
                    <h3 class="article_detail_small_info_title">{{module.fourth_title}}</h3>
                    <p class="article_detail_small_info_desc">{{module.fourth_desc}}</p>
                    <div class="article_detail_small_button">
                        <a class="button_lg" href="{{ module.fourth_btn_href }}">{{ module.fourth_btn_text }}</a>
                    </div>
                </div>

                <div class="article_detail_small_img_box">
                    <img class="article_detail_small_img article_detail_small_img_right" src="{{module.fourth_img}}" alt="{{module.fourth_img_alt}}">
                </div>
            </div>
        </div>



    </div>


</section>