<section class="section_two">
    <div class="container wrapper">
        <div class="section_two_container">
    
            <div class="section_two_content_box">
      

                <div class="section_two_article_box">
                    <h1 class="section_two_article_title">{{module.first_title}}</h1>
                    <div class="section_two_article_text_box">
                        <p id="strong" class="section_two_article_text">
                            {{module.first_desc}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>