<section class="article_detail_text">
    <div class="container wrapper">
        <div class="article_detail_text_container">
            <div class="article_detail_text_box">
                <span class="article_detail_text_title" >{{module.sixth_title | toHTML}}</span>
                <span class="article_detail_text_info" >{{module.sixth_desc | toHTML }}</span>
            </div>
            <div >

                <span class="article_detail_text_title" >{{ module.sixth_title_list | toHTML}}</span>
                <div class="article_detail_text_list_box">
                            <span class="article_detail_text_item_text">
                                {{ module.sixth_list  }}
                            </span>

                </div>
            </div>
        </div>
    </div>
</section>