<section class="article_detail_text">
    <div class="container wrapper">
        <div class="article_detail_text_container">
            <div class="article_detail_text_box">
                <span class="article_detail_text_title" markdown=1>{{module.sixth_title}}</span>
                <span class="article_detail_text_info" markdown=1>{{module.sixth_desc}}</span>
            </div>
            <div markdown=1>
                {{ module.sixth_title_list}}
                <span class="article_detail_text_title" markdown=1>{{ module.sixth_title_list}}</span>
                <div class="article_detail_text_list_box">
                            <span class="article_detail_text_item_text" markdown=1>
                                {{ module.sixth_list }}
                            </span>
                          <span markdown=1>{{ module.sixth_list }}</span>
                </div>
            </div>
        </div>
    </div>
</section>