<section class="article_biz_strategy">

    <div id="video_three" class="active_video">
        <div class="close_video"></div>
        <div class="video_size" id="youtube">
            <iframe src="https://www.youtube.com/embed/{{ innovation.article_img_right_2.idVideo }}?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="article_biz_strategy_right">
        <div class="article_biz_strategy_box article_biz_strategy_right_box wrapper">
            <div class="article_biz_strategy_info_box article_biz_strategy_info_box_right">
                <p class="article_biz_strategy_info_text">{{innovation.article_img_right_2.text}}</p>
                <h3 class="article_biz_strategy_info_title">{{innovation.article_img_right_2.title}}</h3>
                <p class="article_biz_strategy_info_desc">{{innovation.article_img_right_2.desc}}</p>

            </div>
            <div class="article_biz_strategy_img_box">
                <img class="article_biz_strategy_img article_biz_strategy_img_right" src="{{innovation.article_img_right_2.img}}" alt="img">
                <span data-id="video_three" class="button_play button_play_spec">{{innovation.article_img_right_2.btnPlay | svgContents }}</span>
            </div>
        </div>
    </div>
</section>
