<section class="article_biz_strategy">



    <div class="article_biz_strategy_left">
        <div class="article_biz_strategy_box wrapper">
            <div class="article_biz_strategy_img_box">
                <img class="article_biz_strategy_img" src="{{innovation.article_img_left.img}}" alt="img">

            </div>
            <div class="article_biz_strategy_info_box">

                <h3 class="article_biz_strategy_info_title">{{innovation.article_img_left.title}}</h3>
                <p class="article_biz_strategy_info_desc">{{innovation.article_img_left.desc}}</p>

            </div>
        </div>
    </div>


</section>