<section class="plans">
    <div class="plans_map">
        <div class="wrapper container">

            <div class="space_glob_box plans_glob_box">
                <p class="space_glob_info">{{innovation.plans.info}}</p>
                <h2 class="space_glob_title">{{innovation.plans.title_spec}}</h2>
                <p class="space_glob_text">{{innovation.plans.text_spec}}</p>
            </div>


            <div class="plans_map_img_box">
                    <div class="plans_map_img">
                        <div class="plans_map_img_desc">
                            <video class="video" poster="{{innovation.plans.map_img}}" muted autoplay playsinline>
                                <source src="{{innovation.plans.map_vid}}" type="video/mp4" />
                            </video>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
