<section class="space_rich">

    <div id="{{ innovation.space_rich.idVideo }}" class="active_video">
        <div class="close_video"></div>
        <div class="video_size" id="youtube"></div>
    </div>

    <div id="{{ innovation.space_rich.idVideoTwo }}" class="active_video">
        <div class="close_video"></div>
        <div class="video_size" id="youtube"></div>
    </div>

    <div class="wrapper">
        <div class="space_rich_title_box">
            <p class="space_rich_text">{{innovation.space_rich.title_text}}</p>
            <h2 class="space_rich_title">{{innovation.space_rich.title}}</h2>
        </div>
        <div class="space_rich_box">
            <div class="space_rich_content_box space_video_box space_video_box--sm">
                <div>
                    <img src="{{ innovation.space_rich.img_one }}" alt="preview">
                    <span data-id="{{ innovation.space_rich.idVideo }}" class="button_play">{{homepage.presentation.btnPlay | svgContents }}</span>
                </div>

                <p>{{innovation.space_rich.one_text}}</p>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{innovation.space_rich.title_desc_one}}</p>
                    <p>{{innovation.space_rich.desc_one}}</p>
                </div>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{innovation.space_rich.title_desc_three}}</p>
                    <p>{{innovation.space_rich.desc_three}}</p>
                </div>
            </div>
            <div class="space_rich_content_box space_upper space_video_box">
                <div>
                    <img src="{{ innovation.space_rich.img_two }}" alt="preview">
                    <span data-id="{{ innovation.space_rich.idVideoTwo }}" class="button_play">{{homepage.presentation.btnPlay | svgContents }}</span>
                </div>

                <p>{{innovation.space_rich.two_text}}</p>
            </div>
        </div>

    </div>
</section>
