<section class="space_rich">
    <div class="wrapper">



        <div class="space_rich_title_box">
            <p class="space_rich_text">{{innovation.space_rich.title_text}}</p>
            <h2 class="space_rich_title">{{innovation.space_rich.title}}</h2>
        </div>
        <div class="space_rich_box">
            <div class="space_rich_content_box space_video_box space_video_box--sm">
                <video class="video" poster="{{innovation.space_rich.img_one}}" loop muted>
                    <source src="{{innovation.comm.video}}" type="video/mp4" />
                </video>

                <p>{{innovation.space_rich.one_text}}</p>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{innovation.space_rich.title_desc_one}}</p>
                    <p>{{innovation.space_rich.desc_one}}</p>
                </div>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{innovation.space_rich.title_desc_three}}</p>
                    <p>{{innovation.space_rich.desc_three}}</p>
                </div>
            </div>
            <div class="space_rich_content_box space_upper space_video_box">


                <video class="video" poster="{{innovation.space_rich.img_two}}" loop muted>
                    <source src="{{innovation.comm.video}}" type="video/mp4" />
                </video>
                <p>{{innovation.space_rich.two_text}}</p>
            </div>
        </div>

    </div>
</section>