.goals_rich {
  background-color: $orangeLight;
  position: relative;

  @include mq(xs){
    margin-top: 300px;
  }
}
.goals_rich_box {
  display: flex;
  position: relative;
  top: -80px;

  @include mq(lg) {
    top: -40px;
  }
  @include mq(xs) {
    flex-direction: column-reverse;
    top: -85px;
  }
}
.goals_rich_info {
  position: relative;

  @include mq(xxl) {
    max-width: 950px;
  }
  @include mq(lg) {
    max-width: initial;
    width: 70%;
  }

  @include mq(sm) {
    background: url("../image/carbon/sl_goals.jpeg")  center/cover no-repeat;
  }
  @include mq(xs) {
      width: 85%;

  }
  & > div:first-child {
    @include mq(sm) {
      display: none;
    }
  }

}
.goals_rich_info_box {
  position: absolute;
  left: 10%;
  bottom: 35px;
  max-width: 314px;
  color: $white;

  @include mq(md) {
    max-width: 270px;
  }
  @include mq(sm) {
    position: relative;
    padding-top: 235px;
    width: 80%;
    max-width: initial;
  }
  @include mq(xs) {
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.goals_rich_info_big {
  font-size: $fontSizeLG - 4px;
  font-family: $brownLight;
  line-height: 1.2;

  @include mq(lg){
    font-size: $fontSizeLG - 6px;
  }

  @include mq(md) {
    font-size: $fontSizeSM;
  }

}

.goals_rich_info_percent {
  margin: 0px 0 10px 0;
  font-size: $fontSizeXl + 40px;
  font-family: $nimbusStrong;




  @include mq(md) {
    font-size: $fontSizeXl - 30px;
  }
  @include mq(xs) {
    font-size: $fontSizeXl - 25px;
  }
}

.goals_rich_info_small {
  font-size: $fontSizeLG - 4px;
  font-family: $brownLight;
  line-height: 1.2;

  @include mq(lg) {
    font-size: $fontSizeLG - 8px;
  };

  @include mq(md) {
    font-size: $fontSizeMD - 4px;
  }

  & > span {
    font-size: $fontSizeSM + 2px;
  }
}

.goals_rich_desc {
  position: absolute;
  right: 5%;
  bottom: 10%;
  border-top: 1px solid $white;
  padding-top: 10px;
  font-family: $inco;

  max-width: 180px;
  color: $white;

  @include mq(sm) {
    position: relative;
    margin: 0 auto;
    border: none;
    max-width: initial;
    width: 100%;
    right: 0;
    padding: 20px;
    background-color: #000;
    bottom: 0;
  }

}

.goals_rich_talk {
  position: absolute;
  font-size: $fontSizeMD;
  margin-top: 125px;
  margin-left: 40px;
  color: $white;
  max-width: 140px;
  font-family: $brownLight;
  right: -15%;
  top: 0;
  z-index: 99;
  line-height: 1.2;

  @include mq(xxl) {
    right: -18%;
  }

  @include mq(lg) {
    margin-top: 85px;
    right: -28%;
    max-width: 160px;
  }

  @include mq(md) {
    margin-top: 55px;
    font-size: $fontSizeMD - 4px;
    right: -33%;
  }

  @include mq(sm) {
    right: -39%;
  }

  @include mq(xs) {
    color: $blue;
    width: 120%;
    max-width: initial;
    margin: -170px auto 50px auto;
    font-size: $fontSizeMD;
    text-align: center;
    right: -30%;
  }
  @include mq(xxs){
    font-size: $fontSizeMD - 4px;
  }
}

.goals_rich_title {
  font-size: $fontSizeXl + 20px;
  color: $white;
  padding: 0 0 120px 0;
  left: 15%;
  text-transform: uppercase;
  font-family: $nimbus;
  position: relative;
  max-width: 1345px;

  @include mq(xxl) {
    max-width: 1070px;
    font-size: $fontSizeXl - 5px;
    padding: 0 0 96px 0;
  }

  @include mq(lg) {
    max-width: 715px;
    font-size: $fontSizeXl - 20px;
    padding: 0 0 70px 0;
  }
  @include mq(md) {
    max-width: 515px;
    font-size:  $fontSizeXl - 40px;
  }
  @include mq(xs) {
    max-width: 280px;
    font-size:  $fontSizeXl - 44px;
    left: 14%;
    top: -40px;
    padding: 0;
  }
  @include mq(xxs) {
    font-size:  $fontSizeXl - 50px;
  }

  &:before {
    content: "";
    position: absolute;
    left: -8%;
    width: 60px;
    height: 1px;
    top: 9%;
    background-color: $white;

    @include mq(lg) {
      left: -10%;
    }
    @include mq(md) {
      left: -15%;
    }
    @include mq(xs) {
      left: -25%;
    }
  }
}
.slider_goals_wrap {
  width: 1200px;
  position: relative;

  @include mq(xxl){
    width: 950px;
  }
  @include mq(lg){
    width: 70%;
  }
}
.slider_goals .slick-track {
  margin-left: 0;
}
.slider_goals .slick-arrow {
  top: 92%;
  position: absolute;
  font-size: 0;
  border: none;
  color: transparent;
  cursor: pointer;

  @include mq(sm) {
    top: 77%;
  }
}
.slider_goals .slick-next {
  background: url("../image/icons/sl_arrow.png")  center/cover no-repeat;
  overflow: hidden;
  width: 40px;
  height: 40px;
  right: -6%;

  @include mq(xxl) {
    right: -8%;
  }
  @include mq(lg) {
    right: -10%;
  }
  @include mq(md) {
    right: -14%;
  }
  @include mq(xs) {
    right: -17%;
  }
}

.slider_goals .slick-prev {
  background: url("../image/icons/sr_arrow.png")  center/cover no-repeat;
  overflow: hidden;
  width: 40px;
  height: 40px;
  right: -10%;

  @include mq(xxl) {
    right: -12%;
  }
  @include mq(lg) {
    right: -18%;
  }
  @include mq(md) {
    right: -22%;
  }
  @include mq(sm) {
    right: -35%;
  }
  @include mq(xs) {
    right: -39%;
  }
}
.slick-list {
  overflow: initial;
}
.slick-next,
.slick-prev {
  z-index: 100;
}
