<section class="article_detail_small">
    <div class="wrapper container">
        <div class="article_detail_small_right">
            <div class="article_detail_small_box article_detail_small_right_box wrapper">

                <div class="article_detail_small_info_box article_detail_small_info_box_right">
                    <p class="article_detail_small_info_text">{{article_detail.article_detail_small_img.text}}</p>
                    <h3 class="article_detail_small_info_title">{{article_detail.article_detail_small_img.title}}</h3>
                    <p class="article_detail_small_info_desc">{{article_detail.article_detail_small_img.desc}}</p>
                    <div class="article_detail_small_button">
                        <a class="button_lg" href="{{ article_detail.article_detail_small_img.btn_href }}">{{ article_detail.article_detail_small_img.btn_text }}</a>
                    </div>
                </div>

                <div class="article_detail_small_img_box">
                    <img class="article_detail_small_img article_detail_small_img_right" src="{{article_detail.article_detail_small_img.img}}" alt="img">
                </div>
            </div>
        </div>



    </div>


</section>