<section class="testi_article">
    <div class="container">
        <div class="testi_article_description">
            <div class="testi_article_text">
                <img class="quote quote_top" src="{{ article_detail.article_detail_testimonial.quoteTop }}" alt="quote">
                <div class="testi_article_text__description">
                    <p>{{article_detail.article_detail_testimonial.desc}}</p>
                </div>
                <div class="testi_article_text__author">
                    <p>{{article_detail.article_detail_testimonial.author}}</p>
                </div>
                <p class="testi_article_text__prof_title">{{article_detail.article_detail_testimonial.prof_title}}</p>
            </div>
            <img class="quote quote_bottom" src="{{ article_detail.article_detail_testimonial.quoteBottom }}" alt="quote">
        </div>
    </div>
</section>