<section class="basic_testi">
    <div class="container">
        <div class="basic_testi_description">
            <div class="basic_testi_text">
                <img class="quote quote_top" src="{{ chairmans-statement.basic_testimonial.quoteTop }}" alt="quote">
                <div class="basic_testi_text__description">
                    <p>{{chairmans-statement.basic_testimonial.desc}}</p>
                </div>
            </div>
            <img class="quote quote_bottom" src="{{ chairmans-statement.basic_testimonial.quoteBottom }}" alt="quote">
        </div>
    </div>
</section>
