<section class="basic_detail_text">
    <div class="container wrapper">
        <div class="basic_detail_text_container">
            <div class="basic_detail_text_box">
                <div class="basic_detail_text_wrapper">
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.desc_1}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.desc_2}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.desc_3}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.desc_4}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.desc_5}}</p>
                    <br />
                    <h3 class="basic_detail_text_title">{{chairmans-statement.basic_text.subtext_1.title}}</h3>
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.subtext_1.desc}}</p>
                    <br />
                    <h3 class="basic_detail_text_title">{{chairmans-statement.basic_text.subtext_2.title}}</h3>
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.subtext_2.desc}}</p>
                    <br />
                    <h3 class="basic_detail_text_title">{{chairmans-statement.basic_text.subtext_3.title}}</h3>
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.subtext_3.desc_1}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.subtext_3.desc_2}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.subtext_3.desc_3}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.subtext_3.desc_4}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.subtext_3.desc_5}}</p>
                    <br />
                    <p class="basic_detail_text_info">{{chairmans-statement.basic_text.subtext_3.desc_6}}</p>
                    <div class="chair_pres_author">
                        <p>{{chairmans-statement.basic_text.author}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
