.better_rich {
  position: relative;
  margin-top: 85px;

  @include mq(xs) {
    margin-top: 40px;
  }
}
.better__rich_container {
  position: relative;
}
.better_rich_title {
  transform: rotate(-90deg);
  font-size: $fontSizeLG + 4px;
  text-transform: uppercase;
  position: absolute;
  top: 175px;
  left: 0;
  color: $black;
  font-family: $brownLight;



  @include mq(lg) {
    left: -2%;
    top: 145px;
  }
  @include mq(md) {
    left: -6%;
  }
  @include mq(xs) {
    left: -6%;
    font-size: $fontSizeLG - 12px;
    top: 88px;
  }
  @include mq(xxs) {
    left: -45px;
  }

  &:before {
    content: "";
    height: 1px;
    width: 100px;
    background-color: $black;
    position: absolute;
    top: 51%;
    left: -130px;
  }

}
.better_rich_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  @include mq(md) {
    flex-direction: column;
  }
}

.better_rich_item {
  margin-left: 5%;
  max-width: 410px;

  @include mq(xxl) {
    width: 22%;
  }
  @include mq(md) {
    margin: 0 auto 60px auto;
    width: 100%;
  }
  @include mq(sm) {
    margin: 0 0 60px auto;
    width: 100%;
  }
  @include mq(xs) {
    width: 72%;
  }
}

.better_rich_item_name {
  text-transform: uppercase;
  color: $black;
  font-family: $nimbusStrong;
  font-size: $fontSizeSM + 2px;
}

.better_rich_item_img {
  margin: 10px 0 45px 0;
  width: 427px;

  @include mq(xxl){
    width: 320px;
  }

  @include mq(lg) {
    margin: 10px 5px 45px 0;
    width: 100%;
  }
  @include mq(sm) {
    margin-bottom: 26px;
  }
}

.better_rich_item_desc_title {
  font-size: $fontSizeMD;
  line-height: 1.3;
  font-weight: bold;


}

.better_rich_item_desc_desc {
  color: $black;
  font-size: $fontSizeSM;
  margin: 10px 0 30px 0;
  font-family: $brownLight;
  line-height: 1.3;


  @include mq(lg) {
    font-size: $fontSizeSM - 2px;
  }
}
.better_rich_item_desc {
  margin-right: 5px;
}

.better_rich_item_desc_link {
  color: $green;
  position: relative;
  font-family: $brownBold;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    top: 54%;
    height: 1px;
    width: 60px;
    right: -70px;
    background-color: $green;
  }
}