.goals_rich {
  background-color: $fioletLight;
  position: relative;
}
.goals_rich_box {
  display: flex;
  position: relative;
  top: -80px;

  @include mq(lg) {
    top: -40px;
  }
  @include mq(xs) {
    flex-direction: column-reverse;
    top: -85px;
  }
}
.goals_rich_info {
  position: relative;

  @include mq(lg) {
    max-width: initial;
    width: 85%;
  }

  @include mq(sm) {
    background: url("../image/renovation/goals.jpeg")  center/cover no-repeat;
  }
  @include mq(xs) {
      width: 85%;

  }
  & > div:first-child {
    @include mq(sm) {
      display: none;
    }
  }

}
.goals_rich_info_box {
  position: absolute;
  left: 10%;
  bottom: 35px;
  max-width: 335px;
  color: $white;

  @include mq(md) {
    max-width: 270px;
  }
  @include mq(sm) {
    position: relative;
    padding-top: 235px;
    width: 80%;
    max-width: initial;
  }
  @include mq(xs) {
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.goals_rich_info_big {
  font-size: $fontSizeLG - 4px;
  text-transform: uppercase;
  font-family: $brownLight;
  line-height: 1.2;

  @include mq(md) {
    font-size: $fontSizeSM;
  }

}

.goals_rich_info_percent {
  margin: 0px 0 10px 0;
  font-size: $fontSizeXl;
  font-family: $nimbusStrong;


  @include mq(md) {
    font-size: $fontSizeXl - 30px;
  }
  @include mq(xs) {
    font-size: $fontSizeXl - 25px;
  }
}

.goals_rich_info_small {
  font-size: $fontSizeLG - 4px;
  font-family: $brownLight;
  line-height: 1.2;

  @include mq(md) {
    font-size: $fontSizeMD - 4px;
  }
}

.goals_rich_desc {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-top: 1px solid $white;
  padding-top: 10px;
  font-family: $inco;

  max-width: 200px;
  color: $white;

  @include mq(sm) {
    position: relative;
    margin: 0 auto;
    border: none;
    max-width: initial;
    width: 80%;
    right: 0;
  }
  @include mq(xs) {
    width: 100%;
    background-color: #000;
    bottom: 0;
    padding: 20px;
  }
}

.goals_rich_talk {
  font-size: $fontSizeMD;
  margin-top: 120px;
  margin-left: 40px;
  color: $white;
  max-width: 140px;
  font-family: $brownLight;

  @include mq(xs) {
    color: $blue;
    width: 100%;
    max-width: initial;
    margin: 0 auto 20px auto;
    font-size: $fontSizeMD;
    text-align: center;
  }
  @include mq(xxs){
    font-size: $fontSizeMD - 4px;
  }
}

.goals_rich_title {
  font-size: $fontSizeXl + 20px;
  color: $white;
  padding: 0 0 120px 0;
  left: 15%;
  text-transform: uppercase;
  font-family: $nimbus;
  position: relative;
  max-width: 1220px;
  margin-top: 140px;

  @include mq(xxl) {
    max-width: 975px;
    font-size: $fontSizeXl;
    padding: 0 0 96px 0;
  }

  @include mq(lg) {
    max-width: 715px;
    font-size: $fontSizeXl - 20px;
    padding: 0 0 70px 0;
    margin-top: 60px;
  }
  @include mq(md) {
    max-width: 515px;
    font-size:  $fontSizeXl - 40px;
    margin-top: 0;
  }
  @include mq(xs) {
    max-width: 280px;
    font-size:  $fontSizeXl - 44px;
    left: 7%;
    top: -40px;
    padding: 0;
  }
  @include mq(xxs) {
    font-size:  $fontSizeXl - 50px;
  }

  &:before {
    content: "";
    position: absolute;
    left: -8%;
    width: 60px;
    height: 1px;
    top: 9%;
    background-color: $white;

    @include mq(lg) {
      left: -10%;
    }
    @include mq(md) {
      left: -15%;
    }
    @include mq(xs) {
      left: -25%;
    }
  }
}
.slider_goals_wrap {
  width: 1200px;
  position: relative;

  @include mq(xxl){
    width: 1150px;
  }
  @include mq(lg){
    width: 100%;
  }
}


