.next_rich {
  background: linear-gradient(90deg, $fiolet 50%, $white 20%);
  position: relative;

  @include mq(sm) {
    padding: 90px 0 60px 0;
    background: linear-gradient(90deg, $fiolet 70%, $white 20%);
  }
  @include mq(xs){
    margin-top: -40px;
  }
}
.next_rich_img_box {
  display: flex;
  justify-content: flex-end;
  padding: 160px 0;
  position: relative;
  z-index: 1;

  @include mq(lg) {
    padding: 120px 0;
  }
  @include mq(md) {
    padding: 120px 0 60px 0;
  }
  @include mq(sm) {
    background: url("../image/rich_story/next_rich.jpg") center/cover no-repeat;
    height: 340px;
    width: 55%;
    margin: 0;
    margin-left: auto;
    position: relative;
  }
  @include mq(xs) {
    width: 77%;
  }


  & > div {
    width: 1200px;

    @include mq(xxl) {
      width: 75%;
    }
    @include mq(lg) {
      width: 70%;
    }
    @include mq(sm) {
      display: none;
    }
  }
  & > a {
    font-size: $fontSizeSM;
    color: $white;
    position: relative;
    margin-top: -80px;
    font-family: $nimbus;
    left: 7%;
    text-transform: uppercase;

    @include mq(xxl) {
      left: 10%;
    }
    @include mq(lg) {
      margin-top: -60px;
      left: 12%;
    }
    @include mq(sm) {
      top: -165px;
      left: 0;
      margin: 0;
      margin-right: auto;
    }

    &:before {
      content: "";
      height: 1px;
      width: 60px;
      position: absolute;
      top: 10px;
      right: -70px;
      background-color: $white;
    }
  }
}
.next_rich_title_box {
  position: absolute;
  z-index: 7;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;

  @include mq(xs) {
    left: 50%;
  }
}
.next_rich_info {
  color: $white;
  font-family: $nimbusNew;
  text-transform: uppercase;

  @include mq(xs) {
    color: $white;
  }

  &__big {
    font-size: $fontSizeSM;
    font-weight: 600;
  }
  &__small {
    margin-bottom: 7px;
    font-family: $nimbusStrong;
  }
}
.next_rich_title {
  font-size: $fontSizeXl + 20px;
  color: $white;
  margin: 30px 0 60px 0;
  text-transform: uppercase;
  font-family: $nimbus;

  @include mq(xxl) {
    font-size: $fontSizeXl;
  }

  @include mq(lg) {
    font-size: $fontSizeXl - 20px;
    max-width: 600px;
  }

  @include mq(sm) {
    font-size: $fontSizeXl - 40px;
  }
  @include mq(xs) {
    font-size: $fontSizeXl - 50px;
  }
  @include mq(xxs) {
    font-size: $fontSizeXl - 53px;
  }
}

.next_rich_desc {
  color: $white;
  font-size: $fontSizeLG - 2px;
  max-width: 675px;
  margin: 0;
  margin-left: auto;
}