<section class="presentation wrapper">

    <div class="pres_container">
        <div class="pres_media ">
            <div class="pres_media__image">
                <img src="{{ business.presentation.imgPreview }}" alt="preview">
            </div>
        </div>


        <div class="pres_description">
            <div class="pres_text">
                <div class="pres_text__title">
                    <h2>{{business.presentation.title}}</h2>
                </div>
                <div class="pres_text__description">
                    <p>{{business.presentation.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</section>