<section class="mission">

    <div class="wrapper">
        <div class="mission_container">
            <div class="mission_sect_first">
                <div class="mission_media_first">
                    <div class="media_first_img">
                        <img class="mission_mobile__hide" src="{{ governance.mission.first_img }}" alt="img">
                        <img class="mission_mobile__show mobile_img" src="{{ governance.mission.mobile_img_one }}" alt="img">
                        <div class="media_button media_button-first">
                            <a class="button_lg"  href="{{ governance.mission.first_href_btn }}">{{ governance.mission.first_text_btn }}</a>
                        </div>
                    </div>
                </div>

                <div class="mission_text_first">
                    <div class="text_first_title">
                        <h2>{{ governance.mission.first_title }}</h2>
                    </div>
                    <div class="text_first_description">
                        <p>{{ governance.mission.first_desc }}</p>
                    </div>
                </div>
            </div>

            <div class="mission_sect_second">
                <div class="mission_media_second">
                    <div class="media_second_img">
                        <img class="mission_mobile__hide" src="{{ governance.mission.second_img_one }}" alt="img">
                        <img class="mission_mobile__show mobile_img" src="{{ governance.mission.mobile_img_two }}" alt="img">
                        <div class="media_button media_button-second__left">
                            <a class="button_lg"  href="{{ governance.mission.second_href_btn }}">{{ governance.mission.second_text_btn}}</a>
                        </div>
                    </div>
                    <div class="media_second_img">
                        <img class="mission_mobile__hide" src="{{ governance.mission.second_img_two }}" alt="img">
                        <img class="mission_mobile__show mobile_img" src="{{ governance.mission.mobile_img_three }}" alt="img">
                        <div class="media_button media_button-second__right">
                            <a class="button_lg"  href="{{ governance.mission.second_href_btn_two }}">{{ governance.mission.second_text_btn_two }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mission_sect_three">
                <div class="mission_media_three">
                    <div class="media_three_img">
                        <img class="mission_mobile__hide" src="{{ governance.mission.three_img_one }}" alt="img">
                        <img class="mission_mobile__show mobile_img" src="{{ governance.mission.mobile_img_four }}" alt="img">
                        <div class="media_button media_button-three__left">
                            <a class="button_lg"  href="{{ governance.mission.three_href_btn }}">{{ governance.mission.three_text_btn}}</a>
                        </div>
                    </div>
                    <div class="media_three_img">
                        <img class="mission_mobile__hide" src="{{ governance.mission.three_img_two }}" alt="img">
                        <img class="mission_mobile__show mobile_img" src="{{ governance.mission.mobile_img_five }}" alt="img">
                        <div class="media_button media_button-three__right">
                            <a class="button_lg"  href="{{ governance.mission.three_href_btn_two }}">{{ governance.mission.three_text_btn_two }}</a>
                        </div>
                    </div>
                    <div class="mission_text_mobile">
                        <div class="text_second_description">
                            <p>{{ governance.mission.second_desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
