<section class="presentation wrapper">




    <div class="pres_container">
        <div class="pres_media ">
            <div class="pres_media__image">
                <img src="{{ governance.presentation.imgPreview }}" alt="preview">
            </div>
        </div>


        <div class="pres_description">

            <div class="pres_text">
                <img class="quote quote_top" src="{{ governance.presentation.quoteTop }}" alt="quote">
                <div class="pres_text__title">
                    <h2>{{governance.presentation.title}}</h2>
                </div>
                <div class="pres_text__description">
                    <p>{{governance.presentation.desc}}</p>
                </div>
                <div class="pres_text__author">
                    <p>{{governance.presentation.author}}</p>
                </div>
                <div class="pres_text__link">
                    <a href="{{governance.presentation.link_href}}">{{governance.presentation.link_text}}</a>
                </div>
            </div>
            <img class="quote quote_bottom" src="{{ governance.presentation.quoteBottom }}" alt="quote">

        </div>
    </div>
</section>
