<section class="privacy">
    <div class="container wrapper">
        <div class="info_page_wrap">
            <h1>{{privacy.h1}}</h1>
            <h2>{{privacy.h2_1.title}}</h2>
            <p>{{privacy.h2_1.desc1}}</p>
            <p>{{privacy.h2_1.desc2}}</p>
            <h2>{{privacy.h2_2.title}}</h2>
            <p>{{privacy.h2_2.desc1}}</p>
            <p>{{privacy.h2_2.desc2}}</p>
            <p>{{privacy.h2_2.desc3}}</p>
            <p>{{privacy.h2_2.desc4}}</p>
            <p>{{privacy.h2_2.desc5}}</p>
            <p>{{privacy.h2_2.desc6}}</p>
            <p>{{privacy.h2_2.desc7}}</p>
            <p>{{privacy.h2_2.desc8}}</p>
            <p>{{privacy.h2_2.desc9}}</p>
            <p>{{privacy.h2_2.desc10}}</p>
            <p>{{privacy.h2_2.desc11}}</p>
            <h2>{{privacy.h2_3.title}}</h2>
            <p>{{privacy.h2_3.desc1}}</p>
            <p>{{privacy.h2_3.desc2}}</p>
            <p>{{privacy.h2_3.desc3}}</p>
            <p>{{privacy.h2_3.desc4}}</p>
            <p>{{privacy.h2_3.desc5}}</p>
            <p>{{privacy.h2_3.desc6}}</p>
            <p>{{privacy.h2_3.desc7}}</p>
            <h2>{{privacy.h2_4.title}}</h2>
            <p>{{privacy.h2_4.desc1}}</p>
            <p>{{privacy.h2_4.desc2}}</p>
            <p>{{privacy.h2_4.desc3}}</p>
            <p>{{privacy.h2_4.desc4}}</p>
            <p>{{privacy.h2_4.desc5}}</p>
            <h2>{{privacy.h2_5.title}}</h2>
            <p>{{privacy.h2_5.desc1}}</p>
            <ul>
                {% for item in privacy.h2_5.list1 %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <p>{{privacy.h2_5.desc2}}</p>
            <p>{{privacy.h2_5.desc3}}</p>
            <ul>
                {% for item in privacy.h2_5.list2 %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <p>{{privacy.h2_5.desc4}}</p>
            <p>{{privacy.h2_5.desc5}}</p>
            <p>{{privacy.h2_5.desc6}}</p>
            <p>{{privacy.h2_5.desc7}}</p>
            <ul>
                {% for item in privacy.h2_5.list3 %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <h2>{{privacy.h2_6.title}}</h2>
            <p>{{privacy.h2_6.desc1}}</p>
            <table>
                <thead>
                    {% for item in privacy.h2_6.table.thead %}
                        <tr>
                            {% for th in item %}
                                <th>{{ th }}</th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for item in privacy.h2_6.table.tbody %}
                        <tr>
                            {% for td in item %}
                                <td>{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>{{privacy.h2_7.title}}</h2>
            <p>{{privacy.h2_7.desc1}}</p>
            <ul>
                {% for item in privacy.h2_7.list1 %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <p>{{privacy.h2_7.desc2}}</p>
            <ul>
                {% for item in privacy.h2_7.list2 %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <h2>{{privacy.h2_8.title}}</h2>
            <p>{{privacy.h2_8.desc1}}</p>
            <p>{{privacy.h2_8.desc2}}</p>
            <p>{{privacy.h2_8.desc3}}</p>
            <p>{{privacy.h2_8.desc4}}</p>
            <h2>{{privacy.h2_9.title}}</h2>
            <p>{{privacy.h2_9.desc1}}</p>
            <p>{{privacy.h2_9.desc2}}</p>
            <p>{{privacy.h2_9.desc3}}</p>
            <p>{{privacy.h2_9.desc4}}</p>
            <p>{{privacy.h2_9.desc5}}</p>
            <p>{{privacy.h2_9.desc6}}</p>
            <p>{{privacy.h2_9.desc7}}</p>
            <p>{{privacy.h2_9.desc8}}</p>
            <h2>{{privacy.h2_10.title}}</h2>
            <p>{{privacy.h2_10.desc1}}</p>
            <p>{{privacy.h2_10.desc2}}</p>
            <h2>{{privacy.h2_11.title}}</h2>
            <p>{{privacy.h2_11.desc1}}</p>
            <p>{{privacy.h2_11.desc2}}</p>
            <p>{{privacy.h2_11.desc3}}</p>
            <p>{{privacy.h2_11.desc4}}</p>
            <p>{{privacy.h2_11.desc5}}</p>
            <p>{{privacy.h2_11.desc6}}</p>
            <p>{{privacy.h2_11.desc7}}</p>
            <h2>{{privacy.h2_12.title}}</h2>
            <p>{{privacy.h2_12.desc1}}</p>
            <p>{{privacy.h2_12.desc2}}</p>
            <h2>{{privacy.h2_13.title}}</h2>
            <p>{{privacy.h2_13.desc1}}</p>
        </div>
    </div>
</section>