<section class="basic_detail_text bottom_bar">
    <div class="container wrapper">
        <div class="basic_detail_text_container">
            <div class="basic_detail_text_box">
                <div class="basic_detail_text_wrapper">
                    <p class="basic_detail_text_info">{{ceo.basic_text_last.desc2}}</p>
                    <div class="chair_pres_author">
                        <p>{{ceo.basic_text_last.author}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
