<section class="chair_detail_text">
    <div class="container wrapper">
        <div class="basic_article_crumbs_box">
            <div class="breadcrumbs basic_article_crumbs">
                <a href="{{ceo.basic_text.bread_outside_link}}">{{ceo.basic_text.bread_outside}}</a>
                <span>{{ceo.basic_text.bread_inside}}</span>
            </div>
        </div>


        <div class="basic_detail_text_container">
            <div class="chair_detail_text_box">
                <div class="basic_detail_text_wrapper">
                    <h2 class="basic_detail_text_title">{{ceo.basic_text.title}}</h2>
                    <p class="basic_detail_text_info">{{ceo.basic_text.desc}}</p>
                </div>
            </div>

        </div>
    </div>
</section>
