<section class="better_rich">
    <div class="wrapper">

        <div class="better__rich_container">
            <div class="better_rich_title">
                <p>{{renovation.better_rich.title}}</p>
            </div>
            <div class="better_rich_box">
                {% for item in renovation.better_rich.items %}
                <div class="better_rich_item">
                    <p class="better_rich_item_name">{{item.name}}</p>
                    <div class="better_rich_item_img">
                        <a href="{{item.link_href}}">
                            <img src="{{item.img}}" alt="img">
                        </a>
                    </div>
                    <div class="better_rich_item_desc">
                        <p class="better_rich_item_desc_title">{{item.titles}}</p>
                        <p class="better_rich_item_desc_desc">{{item.desc}}</p>
                        <a href="{{item.link_href}}" class="better_rich_item_desc_link">{{item.link_text}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
