<section class="goals_rich">
    <div class="wrapper">
        <div class="goals_rich_box">
            <div class="slider_goals_wrap">

                <div class=" goals_rich_info filter_mobile">

                    <video class="video" poster="{{renovation.goals_rich.bg}}" muted autoplay playsinline>
                        <source src="{{renovation.goals_rich.video}}" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
        <div class="goals_rich_title">
            <p>{{renovation.goals_rich.title}}</p>
        </div>
    </div>

</section>
