<section class="main_rich">
    <div class="main_rich_container wrapper">
        <div class="main_rich_img filter_mobile">
            <div class="filter">
                <img src="{{renovation.main_rich.img}}" alt="img">
            </div>
        </div>
        <div class="main_rich_title_box">
            <div class="main_rich_info">
                <p class="main_rich_info__small">{{renovation.main_rich.little_text}}</p>
                <p class="main_rich_info__big">{{renovation.main_rich.big_text}}</p>
            </div>
            <h1 class="main_rich_title">{{renovation.main_rich.title}}</h1>
            <div class="main_rich_desc">
                {{renovation.main_rich.desc}}
            </div>
        </div>
    </div>
</section>