<section class="performance wrapper">



    <div class="perf_container">
        <div class="perf_media">
            <div class="perf_media__image">
                <img src="{{ renovation.performance.imgPreview }}" alt="preview">
            </div>
            <p class="perf_media_text">{{ renovation.performance.img_text }}</p>
        </div>
        <div class="perf_description">

            <div class="perf_text">
                <div class="perf_text__title">
                    <h2>{{renovation.performance.title}}</h2>
                </div>
                <div class="perf_text__description">
                    <p>{{renovation.performance.desc}}</p>
                </div>
                <div class="perf_text__small">
                    <p>{{renovation.performance.text}}</p>
                </div>

            </div>

        </div>
    </div>
</section>