<section class="article_biz_strategy">

    <div class="article_biz_strategy_left">
        <div class="article_biz_strategy_box wrapper">
            <div class="article_biz_strategy_img_box">
                <img class="article_biz_strategy_img" src="{{financial-review.article_left_right.img2}}" alt="img">
                <p class="article_text_info">{{financial-review.article_left_right.text}}</p>
            </div>
            <div class="article_biz_strategy_info_box article_spec">

                <h3 class="article_biz_strategy_info_title">{{financial-review.article_left_right.title2}}</h3>
                <p class="article_biz_strategy_info_desc">{{financial-review.article_left_right.desc2}}</p>
            </div>
        </div>
    </div>

</section>