<section class="article_light">

    <div class="article_light_left">
        <div class="article_light_box wrapper">
            <div class="article_light_img_box">
                <img class="article_light_img" src="{{financial-review.article_light.img}}" alt="img">
            </div>
            <div class="article_light_info_box">
                <p class="article_light_info_text">{{financial-review.article_light.text}}</p>
                <h3 class="article_light_info_title">{{financial-review.article_light.title}}</h3>
                <p class="article_light_info_desc">{{financial-review.article_light.desc}}</p>
                <div class="article_light_info_button">
                    <a class="button_lg" href="{{ financial-review.article_light.btn_href }}">{{ financial-review.article_light.btn_text }}</a>
                </div>
            </div>
        </div>
    </div>

</section>