<section class="article_biz_strategy">

    <div class="article_biz_strategy_right">
        <div class="article_biz_strategy_box article_biz_strategy_right_box wrapper">
            <div class="article_biz_strategy_info_box article_biz_strategy_info_box_right">
                <h3 class="article_biz_strategy_info_title">{{financial-review.article_left_right.title}}</h3>
                <p class="article_biz_strategy_info_desc">{{financial-review.article_left_right.desc}}</p>

            </div>
            <div class="article_biz_strategy_img_box">
                <img class="article_biz_strategy_img article_biz_strategy_img_right" src="{{financial-review.article_left_right.img}}" alt="img">
            </div>
        </div>
    </div>
</section>