.article_finance {
  margin-top: 160px;

  @include mq(lg) {
    margin-top: 80px;
  }

  @include mq(sm) {
    margin: 50px auto;
  }
}
.article_finance_left {

  position: relative;

}
.article_finance_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1393px;
  margin: 0 auto;

  @include mq(md) {
    flex-direction: column;
  }
}
.article_finance_img_box {

}
.article_finance_img {

  @include mq(lg) {
    min-width: 420px;
  }
  @include mq(md) {
    min-width: initial;
    width: 95%;
  }

  &_right {
    @include mq(md) {
      margin: 0;
      margin-left: auto;
    }
  }
}

.article_finance_info_box {

  max-width: 540px;
  margin-right: 8%;

  @include mq(xxl) {
    padding: 80px 0 80px 100px;
  }
  @include mq(lg) {
    padding: 80px 0 80px 50px;
  }
  @include mq(md) {
    margin: 0;
    margin-left: auto;
    right: 8%;
    position: relative;
  }
  @include mq(sm) {
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 100px 0;
  }
  @include mq(xs) {
    padding: 40px 0;
    width: 92%;
  }


  &_right {
    margin-right: 0%;
    margin-left: 8%;

    @include mq(xxl) {
      padding: 80px 100px 80px 0px;
    }
    @include mq(lg) {
      padding: 80px 50px 80px 0px;
    }

    @include mq(md) {
      margin: 0;
      margin-right: auto;
      left: 8%;
      position: relative;
    }
    @include mq(sm) {
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 100px 0;
    }
    @include mq(xs) {
      padding: 40px 0;
    }
  }
}
.article_finance_info_text {
  font-family: $nimbusNew;
  font-weight: bold;
  font-size: $fontSizeSM;
  text-transform: uppercase;
}
.article_finance_info_title {
  font-size: $fontUp;
  margin: 20px 0;

  @include mq(xs) {
    font-size: $fontSizeLG;
  }
}
.article_finance_info_desc {
  font-family: $brownLight;
  margin-bottom: 40px;
  color: $black;
  line-height: 1.25;
  font-size: $fontSizeSM;

}
.article_finance_right {
  margin-top: 200px;

  @include mq(lg) {
    margin-top: 80px;
  }

  @include mq(sm) {
    margin-top: 50px;
  }
}
.article_finance_right_box {
  position: relative;

  @include mq(md) {
    flex-direction: column-reverse;
  }

}
.article_finance_info_button {
  @include mq(sm) {
    width: 353px;
  }
  @include mq(xs) {
    width: 100%;
  }
  & > a {
    display: flex;
    justify-content: center;
    padding: 0;

    @include mq(sm) {
      margin: 0;
    }
  }
}
.article_finance_button {
  & > a {
    justify-content: center;
    padding-left: 0;
  }
}