.report_graph_title {
  font-size: $fontUp;
  font-weight: bold;
  max-width: 1393px;
  margin: 0 auto;
}
.report_graph_img {
  max-width: 1393px;
  margin: 0 auto;

  @include mq(xxl) {
    width: 100%;

    & > svg {
      width: 100%;
      height: 100%;
    }
  }
}