<section class="article_biz_strategy">
    <div class="article_biz_strategy_left">
        <div class="article_biz_strategy_box wrapper">
            <div class="article_biz_strategy_img_box">
                <img class="article_biz_strategy_img" src="{{biz_strategy.article_biz_strategy.img}}" alt="img">
            </div>
            <div class="article_biz_strategy_info_box">
                <p class="article_biz_strategy_info_text">{{biz_strategy.article_biz_strategy.text}}</p>
                <h3 class="article_biz_strategy_info_title">{{biz_strategy.article_biz_strategy.title}}</h3>
                <p class="article_biz_strategy_info_desc">{{biz_strategy.article_biz_strategy.desc}}</p>
                <div class="article_biz_strategy_info_button">
                    <a class="button_lg" href="{{ biz_strategy.article_biz_strategy.btn_href }}">{{ biz_strategy.article_biz_strategy.btn_text }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="article_biz_strategy_right">
        <div class="article_biz_strategy_box article_biz_strategy_right_box wrapper">
            <div class="article_biz_strategy_info_box article_biz_strategy_info_box_right">
                <p class="article_biz_strategy_info_text">{{biz_strategy.article_biz_strategy.text}}</p>
                <h3 class="article_biz_strategy_info_title">{{biz_strategy.article_biz_strategy.title}}</h3>
                <p class="article_biz_strategy_info_desc">{{biz_strategy.article_biz_strategy.desc}}</p>
                <div class="article_biz_strategy_info_button">
                    <a class="button_lg" href="{{ biz_strategy.article_biz_strategy.btn_href }}">{{ biz_strategy.article_biz_strategy.btn_text }}</a>
                </div>
            </div>
            <div class="article_biz_strategy_img_box">
                <img class="article_biz_strategy_img article_biz_strategy_img_right" src="{{biz_strategy.article_biz_strategy.img2}}" alt="img">
            </div>
        </div>
    </div>
</section>