<section class="conversion wrapper">
    <div class="conversion_wrap">
        <div class="container">
            <div class="conversion_text">
                <p class="conversion_text_strong">{{biz_strategy.conversion.strong}}</p>
                <h2 class="conversion_text_title">{{biz_strategy.conversion.title}}</h2>
                <p class="conversion_text_desc">{{biz_strategy.conversion.desc}}</p>
            </div>
        </div>
    </div>

    <div class="conversion_graph">
        <div class="conversion_graph_img">

            <div class="conversion_graph_slider slider_graph">
                {% for slide in biz_strategy.conversion.data_slide %}
                <div>
                    <div class="conversion_graph_slide_img">
                        <img class="" src="{{ slide.img }}" alt="graph">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="conversion_graph_menu">
                <div class="graph_menu_list">
                    {% for item in biz_strategy.conversion.graph_menu %}
                    <a class="graph_menu_item" href="#" data-slide="{{item.data_num}}">{{item.name}}</a>
                    {% endfor %}
                </div>
                <div class="graph_skip_button_box">
                    <p class="graph_skip_button">{{biz_strategy.conversion.btn_skip}}</p>
                </div>
            </div>

            <div class="conversion_graph_desc">
                <p>
                    {{biz_strategy.conversion.graph_desc}}
                </p>
            </div>
        </div>
    </div>



</section>