<section class="article_detail">


    <div class="article_detail_left">
        <div class="article_detail_box wrapper">
            <div class="article_detail_img_box">
                <video data-source="{{planet.article_detail_img_left.video}}"  preload="none"  class="video" poster="{{planet.article_detail_img_left.img}}" muted  playsinline></video>
            </div>

            <div class="article_detail_info_box">
                <p class="article_detail_info_text">{{planet.article_detail_img_left.text}}</p>
                <h3 class="article_detail_info_title">{{planet.article_detail_img_left.title}}</h3>
                <p class="article_detail_info_desc">{{planet.article_detail_img_left.desc}}</p>
                <p class="article_detail_info_desc--blue">{{planet.article_detail_img_left.descSpec}}</p>

            </div>
        </div>
    </div>

</section>
