<section class="article_finance">
    <div class="wrapper container">
        <div class="article_finance_left">
            <div class="article_finance_box wrapper">
                <div class="article_finance_img_box">
                    <img class="article_finance_img" src="{{finance.article_finance.img}}" alt="img">
                </div>
                <div class="article_finance_info_box">
                    <p class="article_finance_info_text">{{finance.article_finance.text}}</p>
                    <h3 class="article_finance_info_title">{{finance.article_finance.title}}</h3>
                    <p class="article_finance_info_desc">{{finance.article_finance.desc}}</p>
                    <div class="article_finance_button">
                        <a class="button_lg" href="{{ finance.article_finance.btn_href }}">{{ finance.article_finance.btn_text }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="article_finance_right">
            <div class="article_finance_box article_finance_right_box wrapper">
                <div class="article_finance_info_box article_finance_info_box_right">
                    <p class="article_finance_info_text">{{finance.article_finance.text}}</p>
                    <h3 class="article_finance_info_title">{{finance.article_finance.title}}</h3>
                    <p class="article_finance_info_desc">{{finance.article_finance.desc}}</p>
                    <div class="article_finance_button">
                        <a class="button_lg" href="{{ finance.article_finance.btn_href }}">{{ finance.article_finance.btn_text }}</a>
                    </div>
                </div>
                <div class="article_finance_img_box">
                    <img class="article_finance_img article_finance_img_right" src="{{finance.article_finance.img2}}" alt="img">
                </div>
            </div>
        </div>
    </div>


</section>