<section class="report wrapper">
    <div class="container">
        <div class="report_container">
            <div class="report_wrapper">
                <div class="report_title_box">
                    <p class="report_title">{{finance.report.title}}</p>
                </div>

                <div class="report_content_wrapper">
                    <div class="report_content_box">

                        <div class="report_name_box">
                            {% for item in finance.report.name %}
                            <div class="report_name">
                                <p class="report_name_title">{{item.name_title}}</p>
                                <p class="report_name_desc">{{item.name_desc}}</p>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="report_data_box">
                            {% for data in finance.report.data_box %}
                            <div class="report_data">
                                <div class="report_year_info">
                                    <p class="report_year_num">{{data.data_year}}</p>
                                    <p class="report_year_value">{{data.data_value}}</p>
                                </div>

                                <div class="report_data_info">
                                    <div id="revenue" class="report_info report_info_rev">
                                        <p class="report_info_title">{{data.revenue}}</p>
                                        <p class="report_info_desc">({{data.revenue_cost}})</p>
                                    </div>
                                    <div id="gross" class="report_info">
                                        <p class="report_info_title">{{data.gross}}</p>
                                        <p class="report_info_desc">({{data.gross_cost}})</p>
                                    </div>
                                    <div id="trading" class="report_info">
                                        <p class="report_info_title">{{data.trading}}</p>
                                        <p class="report_info_desc">({{data.trading_cost}})</p>
                                    </div>
                                    <div id="operating" class="report_info report_info_oper">
                                        <div class="report_info_oper_wrap">
                                            <p class="report_info_title">{{data.operating}}</p>
                                        </div>
                                        <p class="report_info_desc">({{data.operating_cost}})</p>
                                    </div>
                                    <div id="earnings" class="report_info">
                                        <p class="report_info_title">{{data.earnings}}</p>
                                        <p class="report_info_desc">{{data.earnings_basic}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>