<!DOCTYPE html>
<html lang="en">
<head>
    {% include Head.html %}

    <title>{{ global.meta.meta_title }}</title>
    <meta name="title" content="{{ global.meta.meta_title }}">
    <meta name="description" content="{{ global.meta.meta_desc }}">
    <meta name="keywords" content="{{ global.meta.meta_keys }}">
    <meta property="og:title" content="{{ global.meta.meta_title }}">
    <meta property="og:description" content="{{ global.meta.meta_desc }}">

    <meta name="twitter:image"
          content="https://ks-kentico-prod-cdn-endpoint.azureedge.net/netxstoreviews/webHeroSuperLarge/128527.jpg"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ global.meta.meta_title }}">
    <meta name="twitter:description" content="{{ global.meta.meta_desc }}">
    <meta name="twitter:url" content="https://www.annual-report.kingspan.com"/>


    <link rel="stylesheet" href="../../../src/css/global.css"/>
</head>
<body>

{% include component/header_xw.html %}
<main>
    {% include global/main_biz_strategy.html %}
    {% include global/performance.html %}
    {% include global/comm.html %}
    {% include global/our_net.html %}
    {% include global/space_global.html %}
    {% include global/article_detail_video.html %}

    {% include global/plans.html %}
    {% include global/better.html %}
    {% include component/back_to_top.html %}

</main>
{% include component/footer.html %}

{% lazyScript %}

{% includeScript "../../../src/js/global.js" %}

<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>


</body>
</html>
