<section class="basic_article">
    <div class="wrapper container">

        <div class="basic_article_right">
            <div class="basic_article_box_right basic_article_box wrapper">
                <div class="basic_article_info_box_r">
                    <h3 class="basic_article_info_title">{{lifestyle.basic_article_right.title}}</h3>
                    <p class="basic_article_info_desc">{{lifestyle.basic_article_right.desc}}</p>
                </div>

                <div class="basic_article_img_box">
                    <img class="basic_article_img" src="{{lifestyle.basic_article_right.img}}" alt="img">
                    <p class="basic_article_text">{{lifestyle.basic_article_right.text}}</p>
                </div>
            </div>
        </div>
    </div>

</section>