<section class="goals_rich">
    <div class="wrapper">
        <div class="goals_rich_box">
            <div class="slider_goals_wrap">
                <div class=" goals_rich_info ">
                    <div class="filter">
                        <img src="{{lifestyle.goals_rich.bg}}" alt="img-bg">
                    </div>

                    <div class="goals_rich_desc">
                        <p>{{lifestyle.goals_rich.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="goals_rich_title">
            <p>{{lifestyle.goals_rich.title}}</p>
        </div>
    </div>

</section>
