<section class="slider_rich" >
    <div class="slider_rich_contaier wrapper">
        <div class="container slider_rich_title_text">
            <p class="slider_rich_title">{{lifestyle.slider_rich.title}}</p>
        </div>

        <div class="slider">
            <div class="slider-list">
                <div class="slider_img slider_rich_box slider-track">
                    {% for item in lifestyle.slider_rich.slide %}
                    <div>
                        <div class="slider_rich_item slide">
                            <div class="slider_rich_item_wrap" data-id="{{item.data_id}}">
                                {% if item.hover_text %}
                                <div class="slider_rich_item_img">
                                    <img src="{{item.img}}" alt="slide">
                                    <p>{{item.hover_text}}</p>
                                </div>
                                {% else %}
                                <div class="slider_rich_item_img no-cursor">
                                    <img src="{{item.img}}" alt="slide">
                                    <p>{{item.hover_text}}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="slider_rich_item_desc">
                                <p>{{item.title_slide}}</p>
                                <p>{{item.text}} </p>
                                <div data-id="{{item.data_id}}">
                                    <p class="view_slide">{{item.text_view}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- slider info -->
    {% for info in lifestyle.slider_rich.slider_info %}
    <div id="{{info.id}}"  class="slider_item_info_box"  style="background: url({{ info.bg }}) center/cover no-repeat;">

        <div class="slider_item_info_cont">
            <div class="slider_info_static_text">
                <p class="static_text_l">{{ lifestyle.slider_rich.title}}</p>
            </div>
            <div class="slider_item_info_close">
                <p>close <span>{{ lifestyle.slider_rich.close | svgContents }}</span></p>
            </div>
        </div>


        <div class="slider_info_wrap">

                <div id="slide_one" class="box_for_slide">
                    <div class="slider_item_info_static">
                        <div class="slider_inf_static_desc">
                            <h2 class="static_desc_title">{{info.slide_title}}</h2>
                            <p class="static_desc_de">{{info.slide_desc}}</p>
                            <div class="static_desc_text">
                                <p>{{info.slide_text_t}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="slide_two" class="box_for_slide">
                    <div class="slider_item_info_slide">
                        <div class="slider_item_info_img">
                            <img class="slide_img" src="{{info.slide_img_one}}" alt="img">
                        </div>
                        <div class="slider_item_info_video">
                            <video class="video" poster="{{info.slide_img_one_video}}" controls>
                                <source src="{{info.video}}" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                </div>

                <div id="slide_three" class="box_for_slide">
                    <div class="slider_item_info_static_2">
                        <div class="slider_inf_static_desc">
                            <h2 class="static_desc_subtitle">{{info.slide_title_2}}</h2>
                            <p class="static_desc_de">{{info.slide_desc}}</p>
                            <div class="static_desc_text">
                                <p>{{info.slide_text_t_2}}</p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    {% endfor %}


</section>
