<section class="space_rich renov_space">
    <div class="wrapper">
        <div class="space_rich_title_box">
            <p class="space_rich_text">{{lifestyle.space_rich.title_text}}</p>
            <h2 class="space_rich_title">{{lifestyle.space_rich.title}}</h2>
        </div>
        <div class="space_rich_box">
            <div class="space_rich_content_box">
                <img src="{{lifestyle.space_rich.img_one}}" alt="img">
                <p>{{lifestyle.space_rich.one_text}}</p>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{lifestyle.space_rich.title_desc_one}}</p>
                    <p>{{lifestyle.space_rich.desc_one}}</p>
                    <a data-id="one"  href="{{lifestyle.space_rich.link_one}}" class="better_rich_item_desc_link space_more">{{lifestyle.space_rich.text_link}}</a>
                </div>
                <div class="space_rich_article">
                    <p>{{lifestyle.space_rich.title_desc_two}}</p>
                    <p>{{lifestyle.space_rich.desc_two}}</p>
                    <a data-id="two" href="{{lifestyle.space_rich.link_two}}" class="better_rich_item_desc_link space_more">{{lifestyle.space_rich.text_link}}</a>
                </div>
            </div>
            <div class="space_rich_article_box">
                <div class="space_rich_article">
                    <p>{{lifestyle.space_rich.title_desc_three}}</p>
                    <p>{{lifestyle.space_rich.desc_three}}</p>
                    <a data-id="three"  href="{{lifestyle.space_rich.link_three}}" class="better_rich_item_desc_link space_more">{{lifestyle.space_rich.text_link}}</a>
                </div>
            </div>
            <div class="space_rich_content_box space_upper">
                <img src="{{lifestyle.space_rich.img_two}}" alt="img">
                <p>{{lifestyle.space_rich.two_text}}</p>
            </div>
        </div>

    </div>

</section>