<section class="chair_detail_text">
    <div class="container wrapper">
        <div class="basic_article_crumbs_box">
            <div class="breadcrumbs basic_article_crumbs">
                <a href="{{chairmans-introduction.basic_text.bread_outside_link}}">{{chairmans-introduction.basic_text.bread_outside}}</a>
                <span>{{chairmans-introduction.basic_text.bread_inside}}</span>
            </div>
        </div>


        <div class="basic_detail_text_container">
            <div class="chair_detail_text_box">
                <div class="basic_detail_text_wrapper">
                    <p class="basic_detail_text_info">{{chairmans-introduction.basic_text.chair_text}}</p>
                </div>
            </div>

        </div>
    </div>
</section>
